<div class="container-fluid" id="TabContent">
  <!-- MODAL FOR DISPLAYING CHARTS -->
  <div class="input-group mb-3" >
      <div class="input-group-prepend" >
        <label class="input-group-text" for="inputGroupSelect03"> <img src='../../../../../assets/icons/thermometer.svg' style="height:25px;margin-right:5px"><b style="font-size:13px">Choose Unit</b></label>
      </div>

      <select class="custom-select" id="inputGroupSelect03" [(ngModel)]="tempFormatSelected" (ngModelChange)="toggleUnit(tempFormatSelected)">
        <option *ngFor='let st of temperatureOption' [value]="st.id">
          {{st.format}}
        </option>
      </select>

    </div>

      <!-- Fahrenheit TEMPERATURE CHART MODAL -->
   <div class="modal fade" id="TempModalCenter3" tabindex="-1" role="dialog" aria-labelledby="TempModalCenter3Title"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="TempModalCenter3Title">Temperature</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <div class="InfoSection">  
         <div class="TopInfoSection">

           <div class="ObjectID">
             <span id="ObjectHeader">Object ID:</span>
             <span id="ObjectValue">{{this.modalObjectId}}</span>
           </div>
           <div class="ObjectType">
               <span id="ObjectHeader">Object Type:</span>
               <span id="ObjectValue">{{this.modalObjectType}}</span>
           </div>

         </div>
         <div class="BottomInfoSection">
<div class="DeviceInfo">
   <span id="ObjectHeader">Device ID:</span>
   <span id="ObjectValue">{{ this.modalBeaconId}}</span>
</div>
         </div>  
         
         </div>

         <!-- Chart Section -->
<div class="ChartSection">
 <app-stored-sensor-fahrenheit-graph *ngIf ="displayChart"></app-stored-sensor-fahrenheit-graph>
</div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

       </div>
     </div>
   </div>
 </div>

  <!-- TEMPERATURE CHART MODAL -->
  <div class="modal fade" id="TempModalCenter_2" tabindex="-1" role="dialog" aria-labelledby="TempModalCenter_2Title"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TempModalCenter_2Title">Temperature</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="InfoSection">  
          <div class="TopInfoSection">

            <div class="ObjectID">
              <span id="ObjectHeader">Object ID:</span>
              <span id="ObjectValue">{{this.modalObjectId}}</span>
            </div>
            <div class="ObjectType">
                <span id="ObjectHeader">Object Type:</span>
                <span id="ObjectValue">{{this.modalObjectType}}</span>
            </div>

          </div>
          <div class="BottomInfoSection">
<div class="DeviceInfo">
    <span id="ObjectHeader">Device ID:</span>
    <span id="ObjectValue">{{ this.modalBeaconId}}</span>
</div>
          </div>  
          
          </div>

          <!-- Chart Section -->
<div class="ChartSection">
  <app-stored-sensor-temperature-graph *ngIf ="displayChart"></app-stored-sensor-temperature-graph>
</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>


  <!-- TEMPERATURE MODAL ENDS HER -->

  <div class="modal fade" id="HumModalCenter_2" tabindex="-1" role="dialog" aria-labelledby="HumModalCenter_2Title"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="HumModalCenter_2Title">Humidity</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="InfoSection">  
                <div class="TopInfoSection">
      
                  <div class="ObjectID">
                    <span id="ObjectHeader">Object ID:</span>
                    <span id="ObjectValue">{{this.modalObjectId}}</span>
                  </div>
                  <div class="ObjectType">
                      <span id="ObjectHeader">Object Type:</span>
                      <span id="ObjectValue">{{this.modalObjectType}}</span>
                  </div>
      
                </div>
                <div class="BottomInfoSection">
      <div class="DeviceInfo">
          <span id="ObjectHeader">Beacon ID:</span>
          <span id="ObjectValue">{{this.modalBeaconId}}</span>
      </div>
                </div>  
                
                </div>
      
                <!-- Chart Section -->
      <div class="ChartSection">
        <app-stored-sensor-humidity-graph *ngIf ="displayChart"></app-stored-sensor-humidity-graph>
      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>

  <!-- <div class="tableHolder"> -->
  <table *ngIf="showTable && showCelciusTable" class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <!-- <th id="rightArrow" scope="col"></th> -->
        <th scope="col">Object</th>
        <th scope="col">Object ID</th>
        <th scope="col">Beacon ID</th>
        <th scope="col">Timestamp <br> (Local Time)</th>
        <th scope="col">Temperature <br> (&#8451;) </th>
        <th scope="col">Humidity <br> (%)</th>
        <th scope="col">Shock/Vibrations</th>
        <th scope="col">Tampered</th>
        <!-- <th scope="col">Incidents</th> -->

      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let status of StatusList">
        <td>{{status.ObjectType}}</td>
        <td>{{status.ObjectId}}</td>
        <td>{{status.BeaconId}}</td>
        <td>{{status.BeaconTimestamp | date:'medium':'z'}}</td>
        <td>

          <!-- class="TempchartBox" -->
          <div class="TempchartBox">
            <div class="Value">{{status.Temperature}} &deg; C</div>
            <div class="ChartButton" data-toggle="tooltip" data-placement="top" title="Click Here to Monitor Temperature">
              <img data-toggle="modal" data-target="#TempModalCenter_2" id="chartButtonIcon" src="../../../../../assets/icons/icons/analysis.svg" (click)="setBeaconId(status.BeaconId,status.ObjectId,status.ObjectType)">
            </div>
          </div>

        </td>
        <td>

          <!-- class="TempchartBox" -->
          <div class="HumchartBox">
            <div class="Value">{{status.Humidity}}</div>
            <div class="ChartButton" data-toggle="tooltip" data-placement="top" title="Click Here to Monitor Humidity">
              <img id="chartButtonIcon" data-toggle="modal" data-target="#HumModalCenter_2" src="../../../../../assets/icons/icons/analysis.svg" (click)="setBeaconId(status.BeaconId,status.ObjectId,status.ObjectType)">
            </div>
          </div>

        </td>
        <!-- SHOCK AND VIBRATION CHECK -->
        <td *ngIf="status.ShockVibrationAlert"><img  id="alertCircle" style="height:15px;width:15px;padding:0px;margin:0px" src ="../../../../../assets/icons/Redcircle.svg"></td>
        <td *ngIf="!status.ShockVibrationAlert"><img id="noAlertCircle" style="height:15px;width:15px;padding:0px;margin:0px"  src ="../../../../../assets/icons/green_circle .svg"></td>

        <!-- TAMPER CHECK -->
        <td *ngIf ="status.TamperAlert"> <img  id="alertCircle" style="height:15px;width:15px;padding:0px;margin:0px" src ="../../../../../assets/icons/Redcircle.svg"></td>
        <td *ngIf ="!status.TamperAlert"><img  id="noAlertCircle" style="height:15px;width:15px;padding:0px;margin:0px"  src ="../../../../../assets/icons/green_circle .svg"></td>


      </tr>

    </tbody>
  </table>
   <!-- Fahrenheit Table -->
   <table  *ngIf="showTable && showFahrenheitTable" class="table table-hover"> <!-- *ngIf="showFahrenheitTable"-->
    <thead class="thead-dark">
      <tr>
        <!-- <th id="rightArrow" scope="col"></th> -->
        <th scope="col">Object</th>
        <th scope="col">Object ID</th>
        <th scope="col">Beacon ID</th>
        <th scope="col">Timestamp <br> (Local Time)</th>
        <th scope="col">Temperature <br> ( &deg; F ) </th>
        <th scope="col">Humidity <br> ( % )</th>
        <th scope="col">Shock/Vibrations</th>
        <th scope="col">Tampered</th>
        <!-- <th scope="col">Incidents</th> -->

      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let status of StatusList">
        <td>{{status.ObjectType}}</td>
        <td>{{status.ObjectId}}</td>
        <td>{{status.BeaconId}}</td>
        <td>{{status.BeaconTimestamp | date:'medium'}}</td>
        <td>

          <!-- class="TempchartBox" -->
          <div class="TempchartBox">
            <div class="Value">{{status.Temperature | temperatureConverter: 'F' }} 	&deg; F </div>
            <div class="ChartButton" data-toggle="tooltip" data-placement="top" title="Click Here to Monitor Temperature">
              <img data-toggle="modal" data-target="#TempModalCenter3" id="chartButtonIcon" src="../../../../../assets/icons/icons/analysis.svg" (click)="setBeaconId(status.BeaconId,status.ObjectId,status.ObjectType)">
            </div>
          </div>
        </td>
        <td>

          <!-- class="TempchartBox" -->
          <div class="HumchartBox">
            <div class="Value">{{status.Humidity}}</div>
            <div class="ChartButton" data-toggle="tooltip" data-placement="top" title="Click Here to Monitor Humidity">
              <img id="chartButtonIcon" data-toggle="modal" data-target="#HumModalCenter" src="../../../../../assets/icons/icons/analysis.svg" (click)="setBeaconId(status.BeaconId,status.ObjectId,status.ObjectType)">
            </div>
          </div>

        </td>
        <!-- SHOCK AND VIBRATION CHECK -->
        <td *ngIf="status.ShockVibrationAlert"><img  id="alertCircle" style="height:15px;width:15px;padding:0px;margin:0px" src ="../../../../../assets/icons/Redcircle.svg"></td>
        <td *ngIf="!status.ShockVibrationAlert"><img id="noAlertCircle" style="height:15px;width:15px;padding:0px;margin:0px"  src ="../../../../../assets/icons/green_circle .svg"></td>

        <!-- TAMPER CHECK -->
        <td *ngIf ="status.TamperAlert"> <img  id="alertCircle" style="height:15px;width:15px;padding:0px;margin:0px" src ="../../../../../assets/icons/Redcircle.svg"></td>
        <td *ngIf ="!status.TamperAlert"><img  id="noAlertCircle" style="height:15px;width:15px;padding:0px;margin:0px"  src ="../../../../../assets/icons/green_circle .svg"></td>

      </tr>

    </tbody>
  </table>

  <div *ngIf="showNoData" class="noData">
    Stored Records Currently Unavailable
</div>

</div>