#TabContent{
    padding:1.5em
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 22%;
    float: right;
    margin-right: 8.5vw;
}

td{
    border-right: 2px solid white;
    border-bottom:2px solid white;
    background:whitesmoke
}

th{
    font-size:12px;
    /* width:30px; */
    text-align:center;
}

.modal-body{
    overflow-y: scroll;
}
td{
    font-size:11px;
    font-weight:bolder;
    width:200px;
    text-align:center
    
}


table{
    text-align:center;
    width:90%;
    margin-top:2%;
    margin-left:8%
}

thead, tbody {
    display: block;
}


tbody {
    height: 550px;
    background:white;
    overflow-y: auto;
    width: 90%;
}


tbody td, thead th {
    width: 150px !important;

}
/* Styling Scrollbar */
 tbody::-webkit-scrollbar{
    width:8px;
}

tbody::-webkit-scrollbar-track{
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid #ccc;
}

tbody::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(#999966, #aaaa55);
    border: 1px solid #aaa;
  }

  tbody::-webkit-scrollbar-thumb:hover{
    background: #cccc00;
  }

  tbody::-webkit-scrollbar-thumb:active{
    background: linear-gradient(left, #22ADD4, rgb(186, 170, 30));
  }
#rightArrow{
    width:42px !important;
    background:white;
    border-top: white;
    border-bottom: white;
}

#expandIcon{
    height:15px;
    width:15px
}

.TempchartBox,.HumchartBox{
    display:grid;
    grid-template-columns: 60% 40%;
}

#chartButtonIcon{
    height:25px;
    width:25px;
    margin-top:-5px;
    margin-bottom:-5px
}
#chartButtonIcon:hover{
    cursor:pointer
}


/* Temperature and Humidity Chart Modal */

.InfoSection{
    display:grid;
    grid-template-rows: 50% 50%;
    height:60px;
    /* background:grey; */
    grid-row-gap: 2px;
    margin-top:-10px
}

.TopInfoSection{
    display:grid;
    grid-template-columns: 60% 40% ;
    grid-column-gap: 1px
}

.BottomInfoSection{
    margin-top:2px;
    display:grid;
    grid-template-columns: 100% ;
    text-align:center
}

/* .ObjectID{
    background:yellow;
   
} */

#ObjectHeader,#ObjectValue{
    font-weight:bolder;
    padding:5px;
    font-size:14px
    
}
.modal-title{
    font-size:18px;
    font-weight:bolder
}
.modal-header{
    padding:5px;
    padding-right:1em   
}
.ObjectID,.ObjectType,.DeviceInfo{
    /* border-bottom:2px solid silver; */
    margin-left:2px;
    margin-right:5px;
    background:whitesmoke;
}
.ObjectInfo{
    padding:10px
}


/* Temperature and Humidity Chart Modal ENDS HERE*/
@media screen and (max-width:1440px){
    #TabContent{
        padding:5px
    }

    th,td{
        font-size:10px
    }
    
    table{
        margin-top:4px;
        margin-left: 70px;
    }

    #rightArrow{
        width:42px !important;
    }

    .input-group {
        margin-right: 7vw;
        width: 40%;
    }
    
tbody td, thead th {
    width: 108px !important;
    margin-left:5px

}


tbody {
    height: 425px;
    overflow-y: auto;
    width: 93%;
}
}