<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<div class="body-container" *ngIf="viewDashboard">

  <div class="container-fluid">
    <h6 style="font-size:12px;color:#77b300;font-weight:bold;padding-top:4px"> DASHBOARD >> SUMMARY</h6>
  </div>

  <hr style="margin-top:2px;margin-bottom:5px">
  <!-- Creating Summary Row Layout Using CSS GRID  -->

  <div class="SummaryTopRow">

    <div class="CurrentShipmentsTab">
      <div class="TabIcon"><img src="../../../../../assets/icons/delivery (1).svg"></div>
      <div class="NestGrid">
        <div id="AlertNumber">{{CurrentShipment}}</div>
        <div>Current Shipments </div>
      </div>
    </div>

    <div class="UnreachableDevicesTab">
      <div class="TabIcon"> <img src="../../../../../assets/icons/icons/no-wifi.svg"> </div>
      <div class="NestGrid">
        <div id="AlertNumber">{{UnreachableDeviceCount}}</div>
        <div>Unreachable Devices </div>
      </div>
    </div>

    <div class="TempBreachTab">
      <div class="TabIcon"> <img src="../../../../../assets/icons/icons/thermometer (5).svg"></div>
      <div class="NestGrid">
        <div id="AlertNumber">{{TemperatureBreachCount}}</div>
        <div>Temperature Breach </div>
      </div>
    </div>

    <div class="ShockTab">
      <div class="TabIcon"> <img id="shockIcon" src="../../../../../assets/icons/icons/SHOCK_N_VIBRATION.svg"></div>
      <div class="NestGrid">
        <div id="AlertNumber">{{ShockVibrationCount}}</div>
        <div> Shock/Vibrations </div>
      </div>
    </div>

    <div class="HumBreachTab">
      <div class="TabIcon"> <img src="../../../../../assets/icons/icons/humidity (2).svg"></div>
      <div class="NestGrid">
        <div id="AlertNumber">{{HumidityBreachCount}}</div>
        <div>Humidity Breach </div>
      </div>
    </div>

    <div class="TamperTab">
      <div class="TabIcon"> <img id="TamperIcon" src="../../../../../assets/icons/Tamperbox.svg"> </div>
      <div class="NestGrid">
        <div id="AlertNumber">{{TamperBreachCount}}</div>
        <div>Tamper Incidents </div>
      </div>
    </div>
  </div>

  <br>
  <div class="ContentWrapper">

    <div class="ShipmentList">
      <div class="ShipmentListHeaderWrapper">
        <div class="ShipmentListHeader">Current Shipments</div>
        <div class="ShipmentListHeader">
          <!-- <img id="ShipmentListIcons" src="../../../../../assets/icons/expand-square-interface-button-of-two-arrows.svg"> -->
        </div>
        <div class="ShipmentListHeader">
          <!-- <img id="ShipmentListIcons" src="../../../../../assets/icons/icons/magnifier (2).svg"> -->
        </div>
        <div class="ShipmentListHeader">
          <!-- <img id="ShipmentListIcons" src="../../../../../assets/icons/icons/filter (3).svg"> -->
        </div>
        <div class="ShipmentListHeader">
          <!-- <img id="ShipmentListIcons" src="../../../../../assets/icons/icons/maximize (1).svg"> -->
        </div>
      </div>

      <div class="ShipmentListContent">
        <br>
        <app-shipment-list></app-shipment-list>


        <br>
      </div>

    </div>
    <div class="ShipmentTracker">

      <div class="ShipmentTrackerHeaderWrapper">
        <div class="ShipmentTrackerHeader">Shipment Tracker</div>
      </div>
      <div class="ShipmentTrackerContent">
   
        <app-shipment-tracker></app-shipment-tracker>
      </div>

    </div>
  </div>

  <br>
  <br>
  <!-- Shipment List -->
</div>

</html>