<div class="togglerDiv">
  <div *ngIf="!displayRangeSelector" class="RangePicker">
    <button id="togglerButton" class="btn-success" (click)="toggler()"> <img src="../../../../../assets/icons/thin-arrowheads-pointing-down.svg" style="height:12px" ></button> Show Date Range Picker 
  </div>
  <div *ngIf="displayRangeSelector" class="RangePicker">
    <button id="togglerButton" class="btn-info" (click)="toggler()"> <img src="../../../../../assets/icons/chevron-up.svg" style="height:12px; margin-top: -5px;" ></button> Hide Date Range Picker
  </div>
</div>
<!-- Date Range Picker Here -->
<div  *ngIf="displayRangeSelector" class="DateRangeSelector"> <!--*ngIf="displayRangeSelector"-->
  <div class="form-group">
    <div class="label"> Select Date Range</div>
    <input id="DateRange"  name="DateRange" [(ngModel)] = "DateRange"
    type="text" bsDaterangepicker [bsConfig]= "datePickerConfig" class= "form-control" placeholder="Click here to change date range">
  </div>

  <button class="btn btn-sm btn-primary" (click)="updateGraph()">Update Graph</button>
</div>
 
<!-- Min Max Section -->
<div class="minMax">
  <div class="minSection"> 
    <div class="Row"><span id="paramater">Min :</span> <span id="paraValue" > {{minHum}} %</span></div>
    <div class="Row"> <img id = "time" src ="../../../../../assets/icons/history-clock-button.svg"> <span id= "timeValue"> {{MinHumTime | date:'medium'}}</span></div>
  </div>
  <div class="avgSection"> <span id="paramater">AVG :</span> <span id="paraValue" > {{avgHum | number}} %</span></div>
  <div class="maxSection"> 
    <div class="Row"><span id="paramater">Max :</span> <span id="paraValue" > {{maxHum}} %</span></div>
    <div class="Row"><img id = "time" src ="../../../../../assets/icons/history-clock-button.svg"> <span id= "timeValue"> {{MaxHumTime | date:'medium'}}</span> </div>
  </div>
</div>

<!--  -->

<div class="card-content ">
  <canvas id="myChart" width="900" height="350"></canvas>
</div>
