<div class="container-fluid" id="TabContent">
  <i class="fa"></i>
  <div *ngIf="displaymap" id="mapContent">
    <x-map #xmap [Options]="_options" [Box]="_box">
      <x-map-marker [Latitude]=lat [Longitude]=long [Title]="''" [IconInfo]="_iconInfo">
        <x-info-box [DisableAutoPan]="true" [Title]="'My InfoBox'">
          <div class="container">
            <app-map-tracker-overlay></app-map-tracker-overlay>
          </div>

        </x-info-box>
      </x-map-marker>
    </x-map>
  </div>
</div>