  .shadow-container{
    box-shadow: 0px 0px 18px rgba(0,0,0,.1);
    height: 75vh;
  }

  @media screen and (min-width:1440px){
    .shadow-container{
      box-shadow: 0px 0px 18px rgba(0,0,0,.1);
      height: 71vh;
    }
  }