<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-Tracker-tab" data-toggle="tab" href="#nav-Tracker" role="tab" aria-controls="nav-Tracker" aria-selected="true">Tracker</a>
    <a class="nav-item nav-link " id="nav-Status-tab" data-toggle="tab" href="#nav-Status" role="tab" aria-controls="nav-Status" aria-selected="false">Status</a>
    <a class="nav-item nav-link " id="nav-Devices-tab" data-toggle="tab" href="#nav-Devices" role="tab" aria-controls="nav-Devices" aria-selected="false">Devices</a>
    <a class="nav-item nav-link  " id="nav-Incidents-tab" data-toggle="tab" href="#nav-Incidents" role="tab" aria-controls="nav-Incidents" aria-selected="false">Incidents</a>
    <a class="nav-item nav-link  " id="nav-BlockchainAlerts-tab" data-toggle="tab" href="#nav-BlockchainAlerts" role="tab" aria-controls="nav-BlockchainAlerts" aria-selected="false">  <img id="boxIcons" src="../../../../../assets/icons/shield (1).svg" style="height:20px;width:20px" > Blockchain Alerts</a>
    <a class="nav-item nav-link  " id="nav-StoredSensorData-tab" data-toggle="tab" href="#nav-StoredSensorData" role="tab" aria-controls="nav-StoredSensorData" aria-selected="false">Stored Sensor Data</a>
    <a class="nav-item nav-link  " id="nav-StoredSensorAlerts-tab" data-toggle="tab" href="#nav-StoredSensorAlerts" role="tab" aria-controls="nav-StoredSensorAlerts" aria-selected="false">Stored Sensor Alerts</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active " id="nav-Tracker" role="tabpanel" aria-labelledby="nav-Tracker-tab">
    <app-tracker-tab></app-tracker-tab>
  </div>

  <div class="tab-pane fade " id="nav-Status" role="tabpanel" aria-labelledby="nav-Status-tab">
    <app-status-tab></app-status-tab>
  </div>

  <div class="tab-pane fade " id="nav-Devices" role="tabpanel" aria-labelledby="nav-Devices-tab">
    <app-devices-tab></app-devices-tab>
  </div>

  <div class="tab-pane fade  " id="nav-Incidents" role="tabpanel" aria-labelledby="nav-Incidents-tab">
    <app-incidents-tab></app-incidents-tab>
  </div>

  <div class="tab-pane fade  " id="nav-BlockchainAlerts" role="tabpanel" aria-labelledby="nav-BlockchainAlerts-tab">
      <app-blockchain-alerts></app-blockchain-alerts>
    </div>

    
  <div class="tab-pane fade  " id="nav-StoredSensorData" role="tabpanel" aria-labelledby="nav-StoredSensorData-tab">
  <app-stored-sensor-data-tab></app-stored-sensor-data-tab>
  </div>

  
  <div class="tab-pane fade  " id="nav-StoredSensorAlerts" role="tabpanel" aria-labelledby="nav-StoredSensorAlerts-tab">
    <app-stored-sensor-alerts-tab></app-stored-sensor-alerts-tab>
  </div>
</div>