<div class="incidentsWrapper">


    <div *ngIf = "displayAlert" class="incidentHolder" style="padding:0px;margin:0px">
   <!-- hUMIDITY INCIDENT -->
   <div *ngFor =" let alert of alertDetails" class="incidentContainer">
      <div class="LeftSection">
        <div class="leftTopSection">
          <div class="ObjectSection">
            <div class="ObjectType"> 
              <!-- if Conditions -->
              <img *ngIf = "alert.Object_Type == 'Box'" id="ObjectType" src="../../../../../assets/icons/icons/Green-empty-box-open - Copy.svg">
  
              <!-- ngIf Carton -->
              <img *ngIf = "alert.Object_Type == 'Carton'" id="ObjectType" src="../../../../../assets/icons/icons/Green-box.svg">
  
              <!-- ngIF Product -->
              <img *ngIf = "alert.Object_Type == 'Product'" id="ObjectType" src="../../../../../assets/icons/icons/GREEN pills-bottle .svg">
  
                  <!-- ngIF Pallet -->
              <img *ngIf = "alert.Object_Type == 'Pallet'" id="ObjectType" src="../../../../../assets/icons/icons/Green-Pallet.svg">
              
  
            </div>
            <div class="ObjectNumber">{{alert.Object_ID}}</div>
          </div>
          <div class="LocationSection">
            <div class="dateSection">
                {{alert.Alert_Start_Time | date:'short' :'Z'}}
            </div>
            <div class="CurrLocSection">
              <div class="IconSection">
                  <img id="LocIcon" src="../../../../../assets/icons/darkblue pin.svg">
              </div>
              <div class="LocSection" data-toggle="tooltip" data-placement="top" [title]="alert.Alert_Loc"> Hover Here </div>
            </div>
          </div>
        </div>
        <div class="leftBottomSection">
          <div class="PalletIcon">
            <img id="PalletIcon" src="../../../../../assets/icons/icons/Green-Pallet.svg">
          </div>
         <div class="PalletNumber">{{alert.Pallet_ID}}</div>
             <div class="dummySection">
          <div *ngIf="alert.Alert_End_Time == ''" class="AlertStatus" id="AlertStart">Alert Started</div>  <!--Alert_End_Time :"" -->
          <div *ngIf="alert.Alert_End_Time !== ''"class="AlertStatus" id="AlertClose">Alert Closed</div> 
         </div>
        </div>
      </div>
      <div class="RightSection">
        <div class="AlertIcon">
          <img *ngIf="alert.Alert_Type == 'Humidity'" id="AlertIcon" src = "../../../../../assets/icons/icons/incidentsHumidityALert.svg"> 
          <!-- ngIf Temperature Alert -->
          <img *ngIf="alert.Alert_Type == 'Temperature'" id="AlertIcon" src = "../../../../../assets/icons/icons/incidentTempBreach.svg"> 
          
          <!-- ngIf Shock Alert -->
          <img *ngIf="alert.Alert_Type == 'Shock'" id="AlertIcon" src = "../../../../../assets/icons/icons/incidentsSHOCKALert.svg"> 
  
          <!-- ngIf Tamper Alert -->
             <img  *ngIf="alert.Alert_Type == 'Tamper'" id="AlertIcon" src = "../../../../../assets/icons/icons/TamperOverlayIncident.svg">  
  
       
  
        </div>
        <!-- ngIf HUMIDITY ALERT -->
        <div *ngIf="alert.Alert_Type == 'Humidity'" class="AlertValue">{{alert.Alert_Value}} %</div>
  
        <!-- ngIf Temperature Alert -->
        <div *ngIf="alert.Alert_Type == 'Temperature'" class="AlertValue">{{alert.Alert_Value}} 	&#8451; </div>
  
        <!-- ngIf Shock Alert -->
        <div *ngIf="alert.Alert_Type == 'Shock'" class="AlertValue" style="font-size:8px"> Shock & Vibration </div>
  
        <!-- ngIf Tamper Alert -->
        <div *ngIf="alert.Alert_Type == 'Tamper'" class="AlertValue" style="font-size:8px"> TAMPERED </div>
  
      </div>
    </div>
   
    <!-- end -->
    

        </div>
        <div  *ngIf="displayLoader" class="Loader"> 
          <img id="loader" src="../../../../../assets/icons/GIF/Double Ring-1s-200px.svg">
          <br>
        <div id="IncidentNote"> Please click the marker again if the Blockchain alerts are taking more than 5 secs to load</div>
        </div>
        
        <div *ngIf = "!displayAlert" class="NoAlertContainer" style="padding:0px;margin:0px">
          <h4>NO ALERTS</h4>
        </div>
    </div>