.ViewDocContainer{
    /* background:green; */
    height:45vh;
    width:75vw;
    margin-left:11%;
    margin-top:-10px;
    border:2px solid whitesmoke
}

#viewICon{
    height:15px;
    width:20px;
}
.Header{
    height:40px;
    width:75vw;
    background:whitesmoke;
    padding-top:5px;
    padding-left:5px;
    font-weight:bolder;
    font-size:20px
}

#Loader{
    height: 140px;
    margin-top: 35px;
}
#LoadingData{
    font-size: 35px;
    font-weight:bolder;
   color:#739900
}
#View{
    width:44px !important
}

/* TABLE CSS HERE */

th{
    font-size:14px;
    text-align:center;
  
}

td,th{
    width:250px !important;
    
}
td{
    border-right:2px solid white;
    border-bottom:2px solid white;
}

table{
    text-align:center;
    width:900px;
    margin-top:1px;
    margin-left:15%
}

thead, tbody {
    display: block;
}


tbody {
    width: 795px;
    height: 250px;
    overflow-y: auto;
}


tbody td, thead th {
    width: 850px;

}

 /* Styling Scrollbar */
 tbody::-webkit-scrollbar{
    width:8px;
}

tbody::-webkit-scrollbar-track{
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid #ccc;
}

tbody::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(#999966, #aaaa55);
    border: 1px solid #aaa;
  }

  tbody::-webkit-scrollbar-thumb:hover{
    background: #cccc00;
  }

  tbody::-webkit-scrollbar-thumb:active{
    background: linear-gradient(left, #22ADD4, rgb(186, 170, 30));
  }

#TabContent{
    margin-left: 4%;
    margin-top:1%
}

/* .tableHolder{
    height:600px;
    overflow-y:scroll;
    overflow-x:hidden;
} */
tr{
    background:whitesmoke
}

#connectivityIcon{
    height:45px;
    width:65px;
    margin-top:-10px;
    margin-bottom:-10px
}

td{
    font-size:12px;
    font-weight:bolder;

}
/* 
.isConnected{
width:100px !important
} */
@media screen and (max-width:1440px){

    .ViewDocContainer{
        /* background:green; */
        height:40vh;
        width:75vw;
        margin-left:11%;
        margin-top:-10px;
        border:2px solid whitesmoke
    }

    table{
        width:900px;
        font-size:10px;
        height:15vh !important
    }
    th{
        font-size:10px
    }
    td{
        font-size:10px
    }

    tbody {
        height: 150px;
        overflow-y: scroll;
        width: 495px;
    }

    
td,th{
    width:150px !important;
    text-align:center
}

#connectivityIcon{
    height:35px;
    width:50px;
    margin-top:-10px;
    margin-bottom:-10px
}

}


/* TABLE CSS ENDS HERE */