<!-- ALERTS Modal Code -->

<!-- Modal -->
<div class="modal fade" id="TxnDetailsModalCenter" tabindex="-1" role="dialog" aria-labelledby="TxnDetailsModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TxnDetailsModalCenterTitle">Alert Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="TxnHash"> Transaction Hash: <br>
          <span id="TxnHashValue" style="font-size:11px">  {{this.modalTxnHash}} </span>
          </div>
        <div class="blockchainTxnDetails">
          <div class="row">
            <div class="col-4" id="bcDetailsHeader">Shipment ID</div>
            <div class="col-7" id="bcData">{{this.modalShipmentID}}</div>
          </div>

          <div class="row">
            <div class="col-4" id="bcDetailsHeader">Beacon ID</div>
            <div class="col-7" id="bcData">{{this.modalBeaconID}}</div>
          </div>

          <div class="row">
            <div class="col-4" id="bcDetailsHeader">Gateway ID</div>
            <div class="col-7" id="bcData">{{this.modalGatewayID }}</div>
          </div>

          <div class="row">
            <div class="col-4" id="bcDetailsHeader">Alert Type</div>
            <div class="col-7" id="bcData">{{this.modalAlertType}}</div>
          </div>

          
          <div class="row">
            <div class="col-4" id="bcDetailsHeader">Alert Value</div>
            <div class="col-7" id="bcData">{{this.modalAlertValue}}</div>
          </div>

          <div class="row">
            <div class="col-4" id="bcDetailsHeader">Alert Location</div>
            <div class="col-7" id="bcData">{{this.modalAlertLocation}}</div>
          </div>


          <div class="row">
            <div class="col-4" id="bcDetailsHeader">Alert Start Time (UTC)</div>
            <div class="col-7" id="bcData">{{this.modalAlertStartTime | date:'medium': 'Z'}}</div>
          </div>

          <div class="row">
            <div class="col-4" id="bcDetailsHeader">Alert End Time (UTC)</div>
            <div class="col-7" id="bcData">{{this.modalAlertEndTime | date:'medium': 'Z'}}</div>
          </div>

          <div class="row">
            <div class="col-4" id="bcDetailsHeader">Object ID</div>
            <div class="col-7" id="bcData">{{this.modalObjectID}}</div>
          </div>

          <div class="row">
            <div class="col-4" id="bcDetailsHeader">Object Type</div>
            <div class="col-7" id="bcData">{{this.modalObjectType}}</div>
          </div>

          <div class="row">
            <div class="col-4" id="bcDetailsHeader">Pallet ID</div>
            <div class="col-7" id="bcData">{{ this.modalPalletID}}</div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- Modal Code ENDS-->

<!-- Shipment Document Updated Modal  -->
<!-- Modal -->
<div class="modal fade" id="ShipmentDocUpdateModalCenter" tabindex="-1" role="dialog" aria-labelledby="ShipmentDocUpdateModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ShipmentDocUpdateModalCenterTitle">Shipment Document Uploaded</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="TxnHash"> Transaction Hash: <br>
          <span id="TxnHashValue" style="font-size:11px">  {{this.modalTxnHash}} </span>
          </div>
        <div class="blockchainTxnDetails">
          <div class="row">
            <div class="col-5" id="bcDetailsHeader">Shipment ID</div>
            <div class="col-6" id="bcData">{{this.modalShipmentID}}</div>
          </div>

          <div class="row">
            <div class="col-5" id="bcDetailsHeader">Document Type</div>
            <div class="col-6" id="bcData">{{this.modalDoc_Type}}</div>
          </div>

          <div class="row">
            <div class="col-5" id="bcDetailsHeader">Document Name</div>
            <div class="col-6" id="bcData">{{ this.modalDocName}}</div>
          </div>

          <!-- <div class="row">
            <div class="col-5" id="bcDetailsHeader">Document Reference</div>
            <div class="col-6" id="bcData">{{ this.modalDoc_Ref}}</div>
          </div> -->


          <div class="row">
            <div class="col-5" id="bcDetailsHeader">Time (UTC)</div>
            <div class="col-6" id="bcData">{{this.modalTimestamp*1000 | date:'medium' : 'Z'}}</div>
          </div>

           </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Shipment Document Updated Modal ENDS -->

<!-- SHIPMENT INFO UPDATED MODAL -->

<!-- Modal -->
<div class="modal fade" id="ShipmentInfoUpdateModalCenter" tabindex="-1" role="dialog" aria-labelledby="ShipmentInfoUpdateCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ShipmentInfoUpdateModalCenterTitle">Shipment Info Updated</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="TxnHash"> Transaction Hash: <br>
          <span id="TxnHashValue" style="font-size:11px">  {{this.modalTxnHash}} </span>
          </div>
        <div class="blockchainTxnDetails">
          <div class="row">
            <div class="col-5" id="bcDetailsHeader">Shipment ID</div>
            <div class="col-6" id="bcData">{{this.modalShipmentID}}</div>
          </div>

          <div class="row">
            <div class="col-5" id="bcDetailsHeader">Shipment Info</div>
            <div class="col-6" id="bcData">{{this.modalShipmentInfo}}</div>
          </div>



          <div class="row">
            <div class="col-5" id="bcDetailsHeader">Time (UTC)</div>
            <div class="col-6" id="bcData">{{this.modalTimestamp*1000 | date:'medium': 'Z'}}</div>
          </div>

           </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- SHIPMENT INFO UPDATED MODAL ENDS-->

<!-- Shipment STATUS UPDATED MODAL  -->
<!-- Modal -->
<div class="modal fade" id="statusUpdateModalCenter" tabindex="-1" role="dialog" aria-labelledby="statusUpdateModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="statusUpdateModalCenterTitle">STATUS UPDATED</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="TxnHash"> Transaction Hash: <br>
          <span id="TxnHashValue" style="font-size:11px">  {{this.modalTxnHash}} </span>
          </div>
        <div class="blockchainTxnDetails">
          <div class="row">
            <div class="col-5" id="bcDetailsHeader">Shipment ID</div>
            <div class="col-6" id="bcData">{{this.modalShipmentID}}</div>
          </div>

          <div class="row">
            <div class="col-5" id="bcDetailsHeader">Status</div>
            <div class="col-6" id="bcData">{{this.modalStatus}}</div>
          </div>


          <div class="row">
            <div class="col-5" id="bcDetailsHeader">Time (UTC)</div>
            <div class="col-6" id="bcData">{{this.modalTimestamp*1000 | date:'medium': 'Z'}}</div>
          </div>

           </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<!-- Shipment STATUS UPDATED MODAL ends -->

<!-- SHIPMENT CREATION MODAL -->
<!-- Modal -->
<div class="modal fade" id="shipmentCreationModalCenter" tabindex="-1" role="dialog" aria-labelledby="shipmentCreationModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shipmentCreationModalCenterTitle">SHIPMENT CREATION</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="TxnHash"> Transaction Hash: <br>
          <span id="TxnHashValue" style="font-size:11px">  {{this.modalTxnHash}} </span>
          </div>
        <div class="blockchainTxnDetails">
          <div class="row">
            <div class="col-5" id="bcDetailsHeader">Shipment ID</div>
            <div class="col-6" id="bcData">{{this.modalShipmentID}}</div>
          </div>

          <div class="row">
            <div class="col-5" id="bcDetailsHeader">Purchase Order Number</div>
            <div class="col-6" id="bcData">{{this.modalPO_Number}}</div>
          </div>

          <div class="row">
            <div class="col-5" id="bcDetailsHeader">Source</div>
            <div class="col-6" id="bcData">{{this.modalSource}}</div>
          </div>

          <div class="row">
            <div class="col-5" id="bcDetailsHeader">Destination</div>
            <div class="col-6" id="bcData">{{this.modalDestination}}</div>
          </div>

          <div class="row">
            <div class="col-5" id="bcDetailsHeader">Time Of Creation (UTC)</div>
            <div class="col-6" id="bcData">{{this.modalTimestamp*1000 |date:'medium': 'Z'}}</div>
          </div>

           </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- SHIPMENT CREATION MODAL ENDS -->
<div class="TimeLineWrapper">

  <div class="timeline">

    <div class="container-fluid" id="BlockchainTxns" *ngFor=" let txn of shipmentHistory" style="padding:0px;margin:0px">

      <!-- CREATE TIMELINE CONTENT -->
      <div *ngIf="txn.messageType == 'Shipment Created' " class="content" id="AlertMSG">
        <h3 style="color:#669900">{{txn.blockTimestamp*1000 | date:'medium': 'Z'}} (UTC)</h3>
        <p id="msgType">{{txn.messageType}} </p>

        <div id="msg" data-toggle="tooltip" data-placement="top" title="Click Here to view the Transaction in Detail Fetched From Blockchain"
          data-toggle="modal" data-target="#shipmentCreationModalCenter"
          (click) = "setModalValues(txn.transactionHash,txn.messageType)">
          Transaction Hash : {{txn.transactionHash}}

        </div>
      </div>

      <!-- ALERT TIMELINE CONTENT -->
      <div *ngIf="txn.messageType == 'Alert' " class="content" id="AlertMSG">
        <h3 style="color:#CC0000">{{txn.blockTimestamp*1000 | date:'medium' : 'Z'}} (UTC)</h3>
        <p id="msgType">{{txn.messageType}} </p>

        <div id="msg" data-toggle="tooltip" data-placement="top" title="Click Here to view the Transaction in Detail Fetched From Blockchain"
          data-toggle="modal" data-target="#TxnDetailsModalCenter"
          (click) = "setModalValues(txn.transactionHash,txn.messageType)">
          Transaction Hash : {{txn.transactionHash}}

        </div>
      </div>

      <!-- Document Upload -->

      <div *ngIf="txn.messageType == 'Document Upload' " class="content" id="AlertMSG">
        <h3 style="color:#e6ac00">{{txn.blockTimestamp*1000 | date:'medium' : 'Z'}} (UTC)</h3>
        <p id="msgType">{{txn.messageType}} </p>

        <div id="msg" data-toggle="tooltip" data-placement="top" title="Click Here to view the Transaction in Detail Fetched From Blockchain"
          data-toggle="modal" data-target="#ShipmentDocUpdateModalCenter"
          (click) = "setModalValues(txn.transactionHash,txn.messageType)">
          Transaction Hash : {{txn.transactionHash}}

        </div>
      </div>

       <!-- DUPLICATE ALERT TIMELINE CONTENT -->
       <div *ngIf="txn.messageType == 'Alert-Started' " class="content" id="AlertMSG">
        <h3 style="color:#CC0000">{{txn.blockTimestamp*1000 | date:'medium' : 'Z'}} (UTC)</h3>
        <!-- <p id="msgType">{{txn.messageType}} </p> -->
        <p id="msgType">Alert Start </p>

        <div id="msg" data-toggle="tooltip" data-placement="top" title="Click Here to view the Transaction in Detail Fetched From Blockchain"
          data-toggle="modal" data-target="#TxnDetailsModalCenter"
          (click) = "setModalValues(txn.transactionHash,txn.messageType)">
          Transaction Hash : {{txn.transactionHash}}

        </div>
      </div>


      <!-- Alert Closed Timeline Content -->
          <!-- DUPLICATE ALERT TIMELINE CONTENT -->
          <div *ngIf="txn.messageType == 'Alert-Closed' " class="content" id="AlertMSG">
              <h3 style="color:#ff6600">{{txn.blockTimestamp*1000 | date:'medium' : 'Z'}} (UTC)</h3>
              <!-- <p id="msgType">{{txn.messageType}} </p> -->
              <p id="msgType">Alert Closed</p>
      
              <div id="msg" data-toggle="tooltip" data-placement="top" title="Click Here to view the Transaction in Detail Fetched From Blockchain"
                data-toggle="modal" data-target="#TxnDetailsModalCenter"
                (click) = "setModalValues(txn.transactionHash,txn.messageType)">
                Transaction Hash : {{txn.transactionHash}}
      
              </div>
            </div>
      <!-- SHipment Status Updated -->
      <div *ngIf="txn.messageType == 'Shipment Status Updated' " class="content" id="AlertMSG">
        <h3>{{txn.blockTimestamp*1000 | date:'medium' : 'Z'}} (UTC)</h3>
        <p id="msgType">{{txn.messageType}} </p>

        <div id="msg" data-toggle="tooltip" data-placement="top" title="Click Here to view the Transaction in Detail Fetched From Blockchain"
        data-toggle="modal" data-target="#statusUpdateModalCenter"
        (click) = "setModalValues(txn.transactionHash,txn.messageType)">
          Transaction Hash : {{txn.transactionHash}}

        </div>
      </div>

      <!-- Shipment Documents Updated -->
      <div *ngIf="txn.messageType == 'Shipment Documents Updated' " class="content" id="AlertMSG">
        <h3>{{txn.blockTimestamp*1000 | date:'medium' : 'Z'}} (UTC)</h3>
        <p id="msgType">{{txn.messageType}} </p>

        <div id="msg" data-toggle="tooltip" data-placement="top" title="Click Here to view the Transaction in Detail"
          data-toggle="modal" data-target="#ShipmentDocUpdateModalCenter"
          (click) = "setModalValues(txn.transactionHash,txn.messageType)">
          Transaction Hash : {{txn.transactionHash}}

        </div>
      </div>

      <!-- Shipment Info Updated -->
      <div *ngIf="txn.messageType == 'Shipment Info Updated' " class="content" id="AlertMSG">
        <h3>{{txn.blockTimestamp*1000 | date:'medium': 'Z'}} (UTC)</h3> <!-- | date:'medium'-->
        <p id="msgType">{{txn.messageType}} </p>

        <div id="msg" data-toggle="tooltip" data-placement="top" title="Click Here to view the Transaction in Detail Fetched From Blockchain"
          data-toggle="modal" data-target="#ShipmentInfoUpdateModalCenter"
          (click) = "setModalValues(txn.transactionHash,txn.messageType)">
          Transaction Hash : {{txn.transactionHash}}

        </div>
      </div>
    </div>

    <!-- Replicating Content Div -->

    <!-- Replication ENDS -->
  </div>

</div>