<body>
  
<div class="container" style="z-index: 9999">
  <div class="overlayWrapper" *ngIf="displayOverlay"> 
    
    <div class="OverlayHeader">
      <div class="Header"> Shipment Status</div>
    
      </div>
  
    <div class="ShipmentID">
      <div class="ShipmentIDHeader">Shipment ID</div> 
      <div class="ID"># {{this.shipment_id}}</div> 
    </div>
  
    <div class="BriefBox">
      <div class="leftSection">
        <div class="topLeftSection">
          <div class="StatusSection">
            <div class="statusHeader">Status</div>
            <div class="Status">
              <div class="statusValue">
                {{this.ShipmentStatus}}
              </div>
            </div>
          </div>
          <div class="POSection">
            <div class="POHeader">Purchase Order</div>
            <div class="POValue">{{this.PONumber}}</div>
          </div>
        </div>
        <div class="bottomLeftSection">

          <div class="IconSection">

            <div class="circle"> <img src="../../../../../assets/icons/icons/incidentSourceIcon.svg" style="height:15px;width:20px;margin-left:3px"></div>
            <div class="dash"><img src="../../../../../assets/icons/icons/incidentSourceDestinationDash.svg" style="height:15px;width:22px;margin-left:2px;margin-top: -6px;"> </div>
            <div class="pin"><img src="../../../../../assets/icons/icons/GreenPin.svg" style="height:18px;width:22px;margin-top:-5px;margin-left:1px"></div>

          </div>
          <div class="SourceDestinationDetails">
          
            <div class="SourceDetails">
              <div class="Source"> {{this.SourceLoc}}</div>
              <div class="Date"> {{this.CreatedDateTime | date:'medium' }} </div>
            </div>
            <div class="DestinationDetails"> {{this.DestinationLoc}}</div>

          </div>          
        </div>
      </div>
      <div class="rightSection">
        <div class="TopRightSection"> Incidents</div>
        <div class="BottomRightSection">
          <div class="IncidentTopBoxes">
            <div class="TemperatureAlertBox">
              <div class="AlertIcon">
                <img id="AlertIcon" src="../../../../../assets/icons/icons/thermometer Black.svg">
              </div>
              <div class="AlertNumber">{{this.TemperatureBreachCount}}</div>
            </div>
            <div class="HumidityAlertBox">
                <div class="AlertIcon">
                    <img id="AlertIcon" src="../../../../../assets/icons/icons/humidity (1).svg">
                </div>
                <div class="AlertNumber">{{this.HumidityBreachCount}}</div>
            </div>
          </div>
          <div class="IncidentBottomBoxes">
            <div class="ShockAlertBox">
                <div class="AlertIcon">
                    <img id="AlertIcon" src="../../../../../assets/icons/icons/vibration.svg">
                </div>
                <div class="AlertNumber">{{this.ShockVibrationCount}}</div>
            </div>
            <div class="TamperAlertBox">
                <div class="AlertIcon">
                  <img id="AlertIcon" style="height:20px" src="../../../../../assets/icons/Tamperbox.svg">
                </div>
                <div class="AlertNumber">{{this.TamperBreachCount}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="IncidentHeader"> Incidents (Time in UTC)</div>
    <app-overlay-incidents></app-overlay-incidents>
    
  </div>

  <div class="NoGPSData" *ngIf="!displayOverlay">
    <h4> GPS Lost...  Location Will Get Updated Once the GPS Tracker is Back ONLINE</h4>
  </div>
  
</div>
  </body>