/* CSS FOr LAPTOP SCREEN  */
.Heading{
    margin: 6px;
    margin-left: 15px;
    font-weight: bolder;
    color: #C00;
    font-size: 25px;
}

b, strong {
    font-weight: bolder;
    font-size: 12px;
}

#warningSign{
    height: 27px;
    margin-right: 6px;
    margin-top: -5px;;
}
#Warning {
    margin-top: 50%;
}

body{
    height:90vh;
    background:white;
}
.closeShipmentIDHeader{
    border-bottom: 5px solid #CC0000;
    padding:10px;
    font-size:14px
}
.filterSection{
    margin-right:10px;
    margin-top:-5px
}
.ShipmentHeader{
    margin:15px;
    margin-right:30px;
    display:grid;
    grid-template-columns: 65% 28% 2.5% 2.5%;
    border-bottom:1px solid #cccccc
}
#addButton, #reloadButton, #deleteButton, #searchButton, #filterButton{
    height:20px;
    width:20px;
}
/*  */
#confirmModal{
    max-width: 437px;
}
.buttonArea{
    margin-left: 260px;
    margin-bottom: 10px;
}
.WarningHeader{
    margin: 10px;
    background: #f9f2ec;
    padding: 10px;
    border-radius: 10px;
    /* border : 2px dashed #996633; */
    font-weight: bolder;
}

.headerSection,.headerAssociateSection{
    font-size:30px;
    color:#669900;
    font-weight:bold
}


#togglers:hover{
    cursor:pointer;
}
/* .sourceDestinationIcon{

} */

#reportIcon {
    height: 30px;
    margin-right: -57px;
    margin-top: -65px;
}

#reportIcon:hover{
    cursor:pointer
}

.ActiveRibbon .ShipmentID:hover{
    cursor:pointer;
    background:#d3eca2
}
#addButton, #reloadButton, #deleteButton, #searchButton, #filterButton:hover{
    cursor:pointer;

}
/* NEW RIBBON CSS */
.newRibbon{
    display:grid;
    grid-template-columns: 13% 12% 13% 14% 48%;
    background:whitesmoke !important;
    height:68px;
    margin-bottom:15px;
    border-left:15px solid  #80bfff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.ShipmentsList{

    padding:30px;
    padding-right:40px;

}
.ShipmentID, .PurchaseOrder, .SourceDestination, .CreatedOn, .Associate{
    background:whitesmoke;
    padding:5px
}

.ShipmentID, .PurchaseOrder, .SourceDestination, .CreatedOn{
    border-right:1px solid #e6e6e6;
    margin-bottom: 6px;
    
}

.ShipmentDetails{
    display:grid;
    grid-template-columns: 20% 80%;
    border-right:1px solid #e6e6e6;
}

.ShipmentIDSection{
    display:grid;
    grid-template-columns:70% 30%;
}
.statusUpdate{
    font-size:11px;
    text-align:center;
    
    /* margin-top:20px; */
    font-weight:bolder;
    border-bottom: 1px solid #cfcfcf;
}
.statusUpdate:hover{
    cursor:pointer
}
.glow{
    font-size:11px;
    font-weight:bolder;
    margin: 4px;
    color: #558000;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
       text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #99cc00, 0 0 40px #99cc00, 0 0 50px #99cc00, 0 0 60px #99cc00, 0 0 70px #99cc00;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #d5ff80, 0 0 40px #d5ff80, 0 0 50px #d5ff80, 0 0 60px #d5ff80, 0 0 70px #d5ff80, 0 0 80px #d5ff80;
    }
  }
  
  .Action{
      display:grid;
      grid-template-rows: 50% 50%
  }
  /* Red Glow */
  .redGlow:hover{
      cursor:pointer
  }
  .redGlow{
    font-size:11px;
    font-weight:bolder;
    margin: 6px;
    margin-top: 13px;
    color: #CC0000;
    -webkit-animation: redGlow 1s ease-in-out infinite alternate;
    -moz-animation: redGlow 1s ease-in-out infinite alternate;
    animation: redGlow 1s ease-in-out infinite alternate;
}
@keyframes redGlow {
    from {
       text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #cc0000, 0 0 40px #cc0000, 0 0 50px #cc0000, 0 0 60px #cc0000, 0 0 70px #cc0000;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff944d, 0 0 40px #ff944d, 0 0 50px #ff944d, 0 0 60px #ff944d, 0 0 70px #ff944d, 0 0 80px #ff944d;
    }
  }

  .shipmentIDHeader{
      padding:10px;
      border-bottom:4px solid #99cc00;
      font-size:14px;
      font-weight:bolder;
  }
  
  #statusUpdateModalCenterTitle,#closeShipmentModalCenterTitle{
    font-size:18px;
    font-weight:bolder;
    padding:5px;
  }
.iconSection{
    /* background:whitesmoke; */
    display:grid;
    grid-template-rows: 33% 33% 33%;
    margin-top:-10px;
    text-align:center
 }

 .PurchaseOrder{
    margin-bottom: 6px;
 }
 
.ShipmentID{
    /* border-left:15px solid  #80bfff; */
    display:grid;
    grid-template-rows: 40% 25% 20%;;
    text-align:left;
    margin-bottom:6px
}

.ShipmentNumber{
    font-weight:bolder;
    font-size:10px;
    margin-top:5px
}

.shipmentHeader{
    font-size:11px;
    color:#b3b3b3;
    font-weight:bold
}
.new{
    font-size:12px;
    color:#80bfff;
    font-weight:bold
}

.PurchaseOrder{
    display:grid;
    grid-template-columns: 15% 85%;

}
.PoRightSection{
    display:grid;
    grid-template-rows: 60% 40%;
    margin-left:10px;
    margin-top:10px
}

.PoNumberSection{
    font-weight:bolder;
    margin-bottom:0px;
    padding-bottom:0px
}

.PoHeaderSection{
    font-size:11px;
    color:#b3b3b3;
    font-weight:bold;
    margin-top:-5px
}

.SourceDestination{
    display: grid;
    grid-template-columns: 15% 85%
}

.ShippingDetailSection{
    grid-template-rows:50% 50%;
    font-size:14px;
    font-weight:bolder;
    /* background:yellow */
}

#sourceIcon{
    height:15px !important;
    width:15px !important
}
/* .iconSection{
    display:grid;
    grid-template-rows:25% 50% 25%;
} */
.destinationSection{
    margin-bottom:0px;
    margin-top: 10px;
    /* background:red; */
    /* margin-top:15px; */
    /* margin-left:10px; */
}

#shipmentRibbons{
    padding:0px;
    margin:0px
}
#SourceDestinationIcon{
    height:25px;
    width:75px;
    margin-left:-15px;
    margin-bottom:-20px
}
.Associate{
    text-align:center;
    margin-bottom: 6px;
}



.pin{
    margin-bottom: -6px;
}
#AssociateButton{
    font-size:14px;
    font-weight:bolder;
    width:120px;
    background:#77b300;
    border:none;
    margin-top:10px
}

.CreatedOn{
    display:grid;
    grid-template-rows: 50% 50%;
    text-align:center
}

.createdOnHeader{
    font-size:11px;
    color:#b3b3b3;
    font-weight:bold;
    /* margin-top:-5px; */
    text-align: center
}

.DateSection{
    margin-top:10px;
    font-size:11px;
    font-weight:bolder;

}

/* NEW Ribbon CSS Ends HEre */
#association{
    margin-left: 20px;
}

#association:hover{
    cursor:pointer
}
/* MODAL RELATED CSS */
#modalContent{
    width:75vw;
    margin-left:-20px
}
/* ----------------------------------------------- */
/* Active Ribbon CSS Starts Here */

.ActiveRibbon{
    display:grid;
    grid-template-columns:15% 10% 13% 12% 10% 16% 12.5% 11.5%;
    border-left:15px solid  #77b300;
    background:whitesmoke;
    margin-bottom:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.statusUpdateModalCenterTitle{
    font-weight:bolder;
}
.Active{
    color:#77b300;
    font-size:12px;
    font-weight:bolder
}

.GatewayBeaconSection{
    display:grid;
    grid-template-rows:50% 50%;
    background:whitesmoke;
    border-right: 1px solid #e6e6e6
}
.GBTopSection, .GBBottomSection{
    display:grid;
    grid-template-columns: 40% 60%;
    font-weight:bolder

}
.ObjectSection{
    border-right: 1px solid #e6e6e6
}
.documentSection{
    display:grid;
    grid-template-rows: 60% 40%;
    grid-row-gap: 2px;
    border-right: 1px solid #e6e6e6
}

.docTopSection{
    display: grid;
    grid-template-columns: 50% 50%;

}
.docBottomSection{
    font-size:12px;
    color:#b3b3b3;
    font-weight:bold;
    text-align: center
}

.modal-body{
    font-family:"Muli";
    font-weight:bolder
}

table{
    font-size:14px
}
thead{
    border-radius:14px;
    background:whitesmoke;
    border-left:10px solid #80bfff;
    TEXT-ALIGN:center
}

.note{
    color:rgb(255, 94, 0);
    /* font-weight:lighter; */
    font-size:12px
}
#noteHeader{
    font-size:14px;
    font-weight:bolder
}
td{
    font-size:12px;
}
table{
    border:1px solid #cccccc
}

#productListHeader{
    font-family:"Muli";
    font-weight:bolder
}
#exampleModalCenterTitle{
    height:40px;
    font-size:25px;
    font-weight: bold;
    color:#80afff
}
.associationSection{
    display:grid;
    grid-template-rows: 60% 40%;
    text-align:center
}
.HeaderSection{
    font-size: 12px;
    color: #b3b3b3;
    font-weight: 700;
    text-align: left;
    margin-left: 5px;
}

.ObjectSection{
    display:grid;
    grid-template-rows: 50% 50%;
}

.ObjectTopSection, .ObjectBottomSection{
    display:grid;
    grid-template-columns: 50% 50%;
}

.Object{
    font-weight:bolder;
    margin-left:5px
}

#ObjectNumber{
    margin-top:5px;
    margin-left:10px
}
/* Active Ribbon CSS Ends Here */


/* Deactivated Ribbon */

.DeactivatedRibbon{
    display:grid;
    grid-template-columns:15% 10% 13% 12% 10% 16% 12.5% 11.5%;
    border-left:15px solid  #cc0000;
    background:whitesmoke;
    margin-bottom:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.Deactivated{
    color:#cc0000;
    font-size:12px;
    font-weight:bolder
}

.headerAssociateSection:hover{
cursor:pointer;
}

.associationPageContainer>.newRibbon{
    margin-left:2%;
    margin-right:3%;
}

#associaton:hover{
    cursor:pointer
}
.ShipmentsList{
    height: 70vh;
    overflow-y:scroll;
}
/* 
.associationPageContainer>.newRibbon > .ShipmentNumber ,.PoNumberSection{
 font-size:14px
}

.associationPageContainer>.newRibbon > .ShipmentID{
    margin-top:-20px
}


.associationPageContainer>.newRibbon >.DateSection{
    font-size:12px
} */

.ShipmentsList::-webkit-scrollbar{
    width:4px;
}

.ShipmentsList::-webkit-scrollbar-track{
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid rgb(112, 106, 106);
}

.ShipmentsList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: black;
    border: 1px solid rgb(54, 52, 52);
  }

  .ShipmentsList::-webkit-scrollbar-thumb:hover{
    background: #cc9900;
  }

  .ShipmentsList::-webkit-scrollbar-thumb:active{
    background: linear-gradient(left, #22ADD4, rgb(186, 170, 30));
  }

/* Writing Media Queries Here */
@media screen and (min-width:1440px){

    .ShipmentHeader{
        margin:15px;
        margin-right:30px;
        display:grid;
        grid-template-columns: 75% 20% 2.5% 2.5%;
        border-bottom:1px solid #cccccc
    }

    #Warning{
        margin-top: 79%;
    }
  
    .ShipmentNumber{
        font-weight:bolder;
        font-size:12px;
    }
    .newRibbon{
        display:grid;
        grid-template-columns: 13% 10% 13% 12% 55%;
        background:white;
        height:68px;
        margin-bottom:15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }


    .ShipmentsList{
        height: 78vh;
        overflow-y:scroll;
        overflow-x: hidden
    }
    #association{
        margin-top: 28px;
        margin-left: 10px;
        }

   
    #addButton, #reloadButton, #deleteButton, #searchButton, #filterButton{
        height:25px;
        width:25px;
    }

    .ActiveRibbon{
        display:grid;
        grid-template-columns: 13% 10% 13% 12% 8% 15% 9% 16%;
        border-left:15px solid  #77b300;
        background:whitesmoke;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }


    .iconSection{
        text-align:center
    }
    
    .DeactivatedRibbon{
        display:grid;
        grid-template-columns: 13% 10% 13% 12% 8% 15% 9% 16%;
        border-left:15px solid  #cc0000;
        background:whitesmoke;
        margin-bottom:15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .associationPageContainer{

        margin:25px;
        margin-left:40px;
        margin-right:30px
    }

    /* .associationPageContainer>.newRibbon{
        margin-left:12%;
        margin-right:10%;
    } */
    .headerAssociateSection:hover{
        cursor:pointer;
        }

        .DateSection{
            margin-top:10px;
            font-size:14px;
            font-weight:bolder;
        
        }

        .noShipmentMsg{
            padding: 12px;
            margin: 3em;
            background: #ceebf29e;
            box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.2);
        }
        
        .noShipmentMsg h3{
            text-align:center;
            font-weight:bolder;
            font-size:34px
        }

        #reportIcon{
            height: 30px;
            /* margin-right: -57px; */
            margin-left: -150px;
            margin-top: -65px;
        }
}
