<body>

  <div class="ShipmentHeader">

    <div *ngIf="displayShipmentList" class="headerSection">Shipments</div>
    <div *ngIf="AssociatePage" class="headerAssociateSection" (click)="viewShipments()">
      <img style="height: 24px;width: 24px;margin-bottom: 4px; margin-right: 5px;" src="../../../../../assets/icons/left-arrow.svg">Shipments
    </div>

 
    <div *ngIf="displayShipmentList" class="filterSection">
     <div class="input-group mb-3" >
      <div class="input-group-prepend" >
        <label class="input-group-text" for="inputGroupSelect03"> <img src='../../../../../assets/icons/filter.svg' style="height:25px;margin-right:5px"><b>Filter Shipments</b></label>
      </div>

      <select class="custom-select" id="inputGroupSelect03" [(ngModel)]="ShipmentStatusSelected" (ngModelChange)="sortShipments(ShipmentStatusSelected)">
        <option *ngFor='let st of ShipmentStatusOptions' [value]="st.id">
          {{st.status}}
        </option>
      </select>

    </div>
    </div>
    <div *ngIf="displayShipmentList" class="addShipment"><img id="addButton" data-toggle="modal" data-target="#addShipmentModal"
        src="../../../../../assets/icons/add-circular-button.svg"></div>

    <div *ngIf="displayShipmentList" class="reloadSection" (click)="ngOnInit()">
      <img id="reloadButton" src="../../../../../assets/icons/refresh-button.svg">
    </div>


  </div>

  <!-- MODAL TO ADD SHIPMENTS From System -->
  <div class="modal fade" id="addShipmentModal" tabindex="-1" role="dialog" aria-labelledby="addShipmentModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content" id="modalContent">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Create Shipment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Shipment ID</th>
                <th scope="col">Purchase Order</th>
                <th scope="col">Logistics Partner</th>
                <th scope="col">Source</th>
                <th scope="col">Destination</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">
                  <input type="text" id="shipmentIDField" placeholder="Enter Shipment ID" [(ngModel)]="shipmentID"
                    required>
                </td>
                <td>
                  <input type="text" id="PONumberField" placeholder="Enter Purchase Order" [(ngModel)]="PO_Number"
                    required>
                </td>
                <td>
                  <input type="text" id="LogisticsPartner" placeholder="Enter Logistics Partner" [(ngModel)]="LogisticsPartner"
                    required>
                </td>
                <td>
                  <input type="text" id="SourceField" placeholder="Enter Source" [(ngModel)]="source" required>
                </td>
                <td>
                  <input type="text" id="destinationID" placeholder="Enter Destination" [(ngModel)]="destination"
                    required>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- <hr style="background:#b3b3b3"> -->

          <h5 id="productListHeader">Product List</h5>
          <div class="note">
            <span id="noteHeader"> NOTE: </span>Enter the list of produts seperated by commas here
          </div>
          <textarea rows="3" cols="110" id="productList" [(ngModel)]="form_productList" required>

              </textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="resetFields()">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createShipment()">Create</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ------------------------------------->
<!-- CLOSE SHIPMENT MODAL -->
<!-- Modal -->
<div class="modal fade" id="closeShipmentModalCenter" tabindex="-1" role="dialog" aria-labelledby="closeShipmentModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="closeShipmentModalCenterTitle">Close Shipment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="closeShipmentIDHeader">
          Shipment ID: {{this.LocalShipmentID}}
        </div>

        <div class="input-group mb-3" >
          <div class="input-group-prepend" >
            <label class="input-group-text" for="inputGroupSelect02">Select Closing Status</label>
          </div>

          <select class="custom-select" id="inputGroupSelect02" [(ngModel)]="closeStatusSelected">
            <option *ngFor='let cl of closeStatusOptions' [value]="cl.id">
              {{cl.status}}
            </option>
          </select>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" 
        (click)="validateInput(closeStatusSelected)" class="btn btn-danger" data-dismiss="modal"  data-toggle="modal" data-target=".bd-confirm-modal-sm">Deactivate Shipment</button>
      </div>
    </div>
  </div>
</div>
<!-- CLOSE SHIPMENT MODAL ENDS -->

  <!--  Confirmation Modal -->
<!-- Small modal -->
<div *ngIf="viewCloseConfirmation" class="modal fade bd-confirm-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myConfirmModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" id="confirmModal">
    <div class="modal-content" id="Warning">
      <div class="Heading"> <img id="warningSign" src="../../../../../assets/icons/exclamation-mark.svg">Warning </div>
      <div class="WarningHeader">
      Are you sure you want to deactivate the shipment?
      </div>

      <div class="buttonArea">
        <button type="button" style="font-weight: bolder; font-size: 14px;width: 70px;" class="btn btn-warning" data-dismiss="modal"> NO </button>
        <button type="button" style="font-weight: bolder;width: 70px; font-size: 14px;margin-left:20px" class="btn btn-danger" data-dismiss="modal"(click)="updatecloseStatus()"> YES </button>
      </div>
      
    </div>
  </div>
</div>
<!-- Confirmation Modal Ends -->
<!-- MODAL to update Shipment -->
  <!-- Modal -->
  <div class="modal fade" id="statusUpdateModalCenter" tabindex="-1" role="dialog" aria-labelledby="statusUpdateModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="statusUpdateModalCenterTitle">Update Shipment Status</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="shipmentIDHeader">
            Shipment ID: {{this.LocalShipmentID}}
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Select Status</label>
            </div>

            <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="StatusSelected">
              <option *ngFor='let st of statusOptions' [value]="st.id">
                {{st.status}}
              </option>
            </select>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateStatus(StatusSelected,LocalShipmentID)">Update
            Status </button>
        </div>
      </div>
    </div>
  </div>

  <!--  -------------------------------------------------------  -->
  <!-- Display NO SHIPMENT Found if no shipment is fetched from API -->
  <!-- 
<div *ngIf="displayNoShipmentMsg" class="noShipmentMsg">
  <h3> No Shipment Created yet</h3>
</div> -->

  <div *ngIf="displayShipmentList" class="ShipmentsList">
    <!-- DO *ngFOr Here and Compare the Flag from "New" ,"ACTIVE" and "DEACTIVATED" and do *ngIF to select type of ribbon -->

    <div class="container-fluid" id="shipmentRibbons" *ngFor="let shipment of filteredShipmentList; let i of index ">

      <!--  *ngIf=shipment.ShipmentStatus}} == 'New'" -->
      <div *ngIf="shipment.ShipmentStatus =='New'" class="newRibbon">
        <div class="ShipmentDetails">
          <div class="iconSection">
            <img src="../../../../../assets/icons/icon (2).svg" style="margin-top:25px;" data-toggle="tooltip"
              data-placement="top" title="New Shipment Created in Blockchain">
          </div>
          <div class="ShipmentID">
            <div class="ShipmentNumber">{{shipment.ShipmentID}}</div>
            <div class="shipmentHeader">Shipment Id</div>
            <div class="new">New</div>
          </div>
        </div>

        <div class="PurchaseOrder">
          <div class="PoLeftSection"> <img src="../../../../../assets/icons/invoice.svg" style="margin-top:15px;"></div>
          <div class="PoRightSection">
            <div class="PoNumberSection">{{shipment.PONumber}}</div> <!-- Dynamic PO-->
            <div class="PoHeaderSection">Purchase Order</div>
          </div>
        </div>

        <div class="SourceDestination">
          <div class="iconSection">
            <div class="circle"> <img src="../../../../../assets/icons/icons/sourceIcon.svg" style="height:15px;width:20px;margin-left:3px;
            margin-top:10px"></div>
            <div class="dash"><img src="../../../../../assets/icons/icons/incidentSourceDestinationDash.svg" style="height:15px;width:22px;margin-left:3px;margin-top: -10px;">
            </div>
            <div class="pin"><img src="../../../../../assets/icons/icons/darkblue pin.svg" style="height:18px;width:22px;margin-top:-25px;margin-left:1px"></div>
          </div>
          <div class="ShippingDetailSection">
            <div class="sourceSection"> {{shipment.SourceLoc}}</div>
            <div class="EmptySection"></div>
            <div class="destinationSection"> {{shipment.DestinationLoc}}</div>
          </div>
        </div>

        <div class="CreatedOn">
          <div class="DateSection">{{shipment.CreatedDateTime | date:'medium'}}</div>
          <div class="createdOnHeader">Created On</div>
        </div>

        <!-- [routerLink]="['/associate']" -->
        <div class="Associate"><button (click)="associate(shipment)" id="AssociateButton" type="button" class="btn btn-success">
            + Associate </button></div>
      </div>


      <!-- Active Ribbon Template Starts Here -->
      <div class="ActiveRibbon" *ngIf="shipment.ShipmentStatus != 'New' && shipment.IsActive === true">

        <div class="ShipmentDetails">
          <div class="icon"><img src="../../../../../assets/icons/icon (2).svg" style="margin-top:15px;" data-toggle="tooltip"
              data-placement="top" title="This Shipment is ACTIVE in Blockchain"></div>
          <div class="ShipmentIDSection">
            <div class="ShipmentID" [routerLink]="['/SpecificShipment']" [routerLinkActive]="['active']" data-toggle="tooltip"
              data-placement="top" title="Click Here to visit the Dashboard"
              (click)="setShipmentID(shipment.ShipmentID,shipment.ShipmasterID)">
              <div class="ShipmentNumber">{{shipment.ShipmentID}}</div>
              <div class="shipmentHeader">Shipment Id</div>
              <div class="Active">Active</div>
            </div>
           <div class="Action">
            <div class="statusUpdate" data-toggle="modal" data-target="#statusUpdateModalCenter">
              <h5 class="glow" (click)="setLocalShipmentID(shipment.ShipmentID)">Update Status</h5>
            </div>

            <div class="closeShipment" data-toggle="modal" data-target="#closeShipmentModalCenter">
              <h5 class="redGlow" (click)="setLocalShipmentID(shipment.ShipmentID)">Close</h5>
            </div>
           </div>
          </div>
        </div>
        <!--  <div class="statusUpdate">Update Status</div> -->
        <div class="PurchaseOrder">
          <div class="PoLeftSection"> <img src="../../../../../assets/icons/invoice.svg" style="margin-top:15px;"></div>
          <div class="PoRightSection">
            <div class="PoNumberSection">{{shipment.PONumber}}</div>
            <div class="PoHeaderSection">Purchase Order</div>
          </div>
        </div>

        <div class="SourceDestination">
          <div class="iconSection">
            <div class="circle"> <img src="../../../../../assets/icons/icons/sourceIcon.svg" style="height:15px;width:20px;margin-left:3px;
              margin-top:10px"></div>
            <div class="dash"><img src="../../../../../assets/icons/icons/incidentSourceDestinationDash.svg" style="height:15px;width:22px;margin-left:3px;margin-top: -10px;">
            </div>
            <div class="pin"><img src="../../../../../assets/icons/icons/darkblue pin.svg" style="height:18px;width:22px;margin-top:-25px;margin-left:1px"></div>
          </div>
          <div class="ShippingDetailSection">
            <div class="sourceSection"> {{shipment.SourceLoc}}</div>
            <div class="destinationSection"> {{shipment.DestinationLoc}}</div>
          </div>
        </div>

        <div class="CreatedOn">
          <div class="DateSection">{{shipment.CreatedDateTime | date:'medium'}}</div>
          <div class="createdOnHeader">Created On</div>
        </div>

        <div class="GatewayBeaconSection">
          <div class="GBTopSection">
            <div class="GBicons"><img src="../../../../../assets/icons/wifi-router (1).svg" style="height:25px;width:25px;margin-left:5px;margin-top:2px"></div>
            <div class="gbNumbers">{{shipment.GatewayCount}}</div>
          </div>
          <div class="GBBottomSection">
            <div class="GBicons"><img src="../../../../../assets/icons/apple-tv.svg" style="height:40px;width:40px;margin-left:5px;margin-top:-18px"></div>
            <div class="gbNumbers">{{shipment.BeaconCount}}</div>
          </div>
        </div>
        <div class="ObjectSection">
          <div class="ObjectTopSection">
            <div class="Object"> <img src="../../../../../assets/icons/pallet.svg" style="height:25px;width:25px;margin-top:5px">
              <span id="ObjectNumber"> {{shipment.PalletCount}}</span> </div>
            <div class="Object"> <img src="../../../../../assets/icons/box.svg" style="height:25px;width:25px;margin-top:5px">
              <span id="ObjectNumber"> {{shipment.CartonCount}}</span> </div>
          </div>
          <div class="ObjectBottomSection">
            <div class="Object"> <img src="../../../../../assets/icons/empty-box-open.svg" style="height:25px;width:25px;margin-top:5px">
              <span id="ObjectNumber">{{shipment.BoxCount}}</span> </div>
            <div class="Object"> <img src="../../../../../assets/icons/pills.svg" style="height:25px;width:25px;margin-top:5px">
              <span id="ObjectNumber"> {{shipment.ProductCount}}</span> </div>
          </div>
        </div>
        <div class="documentSection">
          <div class="docTopSection">
            <div class="ViewDocButton"><img id="togglers" (click)="viewDoc(i,shipment.ShipmentID)" src="../../../../../assets/icons/file (4).svg"
                style="height:32px;width:32px;margin-top:5px;margin-left:40px"></div>
            <div class="UploadDocButton"><img id="togglers" (click)="uploadDoc(i,shipment.ShipmentID)" src="../../../../../assets/icons/file.svg"
                style="height:35px;width:35px;margin-top:5px"></div>

          </div>
          <div class="docBottomSection">
            Documents
          </div>
        </div>
        <div class="associationSection">
          <div class="iconSection"> <img (click)="viewAssociation(i,shipment.ShipmasterID)" id="association" src="../../../../../assets/icons/shuffle.svg"
              style="height:35px;width:35px;margin-top:22px;"></div>
              <span ><img id = "reportIcon"  [routerLink]="['/shipmentReport']" src="../../../../../assets/icons/view-files.png"
                 data-toggle="tooltip" data-placement="top" title="Click Here to View Report"
                 (click)="setShipmentID(shipment.ShipmentID,shipment.ShipmasterID)"> </span>
          <div class="HeaderSection" style="margin-top: -30px;">Associations | Report </div>
        </div>

      </div>

      <!-- Active Ribbon Template Ends Here -->

      <!-- DEACTIVATED RIBBON TEMPLATE STARTS HERE  -->

      <div class="DeactivatedRibbon" *ngIf="shipment.ShipmentStatus != 'New' && shipment.IsActive === false">

        <div class="ShipmentDetails">
          <div class="icon"><img src="../../../../../assets/icons/icon (2).svg" style="margin-top:15px;" data-toggle="tooltip"
              data-placement="top" title="Shipment DEACTIVATED in Blockchain"></div>
          <div class="ShipmentID">
            <div class="ShipmentNumber">{{shipment.ShipmentID}}</div>
            <div class="shipmentHeader">Shipment Id</div>
            <div class="Deactivated">Deactivated</div>
          </div>
        </div>

        <div class="PurchaseOrder">
          <div class="PoLeftSection"> <img src="../../../../../assets/icons/invoice.svg" style="margin-top:15px;"></div>
          <div class="PoRightSection">
            <div class="PoNumberSection">{{shipment.PONumber}}</div>
            <div class="PoHeaderSection">Purchase Order</div>
          </div>
        </div>

        <div class="SourceDestination">
          <div class="iconSection">
            <div class="circle"> <img src="../../../../../assets/icons/icons/sourceIcon.svg" style="height:15px;width:20px;margin-left:3px;
              margin-top:10px"></div>
            <div class="dash"><img src="../../../../../assets/icons/icons/incidentSourceDestinationDash.svg" style="height:15px;width:22px;margin-left:3px;margin-top: -10px;">
            </div>
            <div class="pin"><img src="../../../../../assets/icons/icons/darkblue pin.svg" style="height:18px;width:22px;margin-top:-25px;margin-left:1px"></div>
          </div>
          <div class="ShippingDetailSection">
            <div class="sourceSection"> {{shipment.SourceLoc}}</div>
            <div class="destinationSection"> {{shipment.DestinationLoc}}</div>
          </div>
        </div>

        <div class="CreatedOn">
          <div class="DateSection">{{shipment.CreatedDateTime | date:'medium'}}</div>
          <div class="createdOnHeader">Created On</div>
        </div>

        <div class="GatewayBeaconSection">
          <div class="GBTopSection">
            <div class="GBicons"><img src="../../../../../assets/icons/wifi-router (1).svg" style="height:25px;width:25px;margin-left:5px;margin-top:2px"></div>
            <div class="gbNumbers">{{shipment.GatewayCount}}</div>
          </div>
          <div class="GBBottomSection">
            <div class="GBicons"><img src="../../../../../assets/icons/apple-tv.svg" style="height:40px;width:40px;margin-left:5px;margin-top:-15px"></div>
            <div class="gbNumbers">{{shipment.BeaconCount}}</div>
          </div>
        </div>
        <div class="ObjectSection">
          <div class="ObjectTopSection">
            <div class="Object"> <img src="../../../../../assets/icons/pallet.svg" style="height:25px;width:25px;margin-top:5px">
              <span id="ObjectNumber"> {{shipment.PalletCount}}</span> </div>
            <div class="Object"> <img src="../../../../../assets/icons/box.svg" style="height:25px;width:25px;margin-top:5px">
              <span id="ObjectNumber"> {{shipment.CartonCount}}</span> </div>
          </div>
          <div class="ObjectBottomSection">
            <div class="Object"> <img src="../../../../../assets/icons/empty-box-open.svg" style="height:25px;width:25px;margin-top:5px">
              <span id="ObjectNumber">{{shipment.BoxCount}}</span> </div>
            <div class="Object"> <img src="../../../../../assets/icons/pills.svg" style="height:25px;width:25px;margin-top:5px">
              <span id="ObjectNumber"> {{shipment.ProductCount}}</span> </div>
          </div>
        </div>
        <div class="documentSection">
          <div class="docTopSection">
            <div class="ViewDocButton"><img id="togglers" (click)="viewDoc(i,shipment.ShipmentID)" src="../../../../../assets/icons/file (4).svg"
                style="height:32px;width:32px;margin-top:5px;margin-left:60px"></div>
           
          </div>
          <div class="docBottomSection">
            Documents
          </div>
        </div>
        <div class="associationSection">
          <div class="iconSection"> <img (click)="viewAssociation(i,shipment.ShipmasterID)" id="association" src="../../../../../assets/icons/shuffle.svg"
              style="height:35px;width:35px;margin-top:22px"></div>
              <span ><img id = "reportIcon"  [routerLink]="['/shipmentReport']" src="../../../../../assets/icons/view-files.png"
                data-toggle="tooltip" data-placement="top" title="Click Here to View Report"
                (click)="setShipmentID(shipment.ShipmentID,shipment.ShipmasterID)"> </span>
         <div class="HeaderSection" style="margin-top: -30px;">Associations | Report </div>
        </div>

      </div>

      <!-- Toggling Between ViewDoc , UploadDoc and View Association Div -->
      <div *ngIf="displayOverview === i && displayViewDoc" class="viewDoc">
        <app-view-document></app-view-document>
      </div>
      <div *ngIf="displayOverview === i &&  displayUploadDoc" class="uploadDoc">
        <app-upload-document></app-upload-document>
      </div>

      <div *ngIf="displayOverview === i &&  displayAssociation" class="viewAssociation">
        <app-association></app-association>
      </div>
    </div>
    <!-- DEACTIVATED RIBBON TEMPLATE ENDS HERE  -->
    <!-- *ngFor Ends Here -->
  </div>

  <!-- Associatin Page -->
  <div *ngIf="AssociatePage">
    <div class="associationPageContainer">

      <div class="newRibbon">
        <div class="ShipmentDetails">
          <div class="iconSection">

          </div>
          <div class="ShipmentID">
            <div class="ShipmentNumber">{{this.associate_shipment_ID}}</div>
            <div class="shipmentHeader">Shipment Id</div>
            <div class="new">New</div>
          </div>
        </div>

        <div class="PurchaseOrder">
          <div class="PoLeftSection"> <img src="../../../../../assets/icons/invoice.svg" style="margin-top:15px;"></div>
          <div class="PoRightSection">
            <div class="PoNumberSection">{{this.associate_po_number }}</div>
            <div class="PoHeaderSection">Purchase Order</div>
          </div>
        </div>

        <div class="SourceDestination">
          <div class="iconSection">
            <div class="circle"> <img src="../../../../../assets/icons/icons/sourceIcon.svg" style="height:15px;width:20px;margin-left:3px;
              margin-top:10px"></div>
            <div class="dash"><img src="../../../../../assets/icons/icons/incidentSourceDestinationDash.svg" style="height:15px;width:22px;margin-left:3px;margin-top: -10px;">
            </div>
            <div class="pin"><img src="../../../../../assets/icons/icons/darkblue pin.svg" style="height:18px;width:22px;margin-top:-25px;margin-left:1px"></div>
          </div>
          <div class="ShippingDetailSection">
            <div class="sourceSection"> {{this.associate_source}}</div>
            <div class="destinationSection"> {{ this.associate_destination}}</div>
          </div>
        </div>
        <div class="CreatedOn">
          <div class="DateSection">{{ this.associate_Created_ON | date: 'short'}}</div>
          <div class="createdOnHeader">Created On</div>
        </div>

      </div>

      <app-associate-shipments></app-associate-shipments>
    </div>
  </div>

</body>