<body>
  <div class="container-fluid" style="margin-bottom: -25px;">
    <h6 style="font-size:12px;color:#77b300;font-weight:bold;padding-top:4px"> DASHBOARD >> SHIPMENT >> {{this.shipmentID | uppercase}}</h6>
   
   <hr> <!-- <img id="refreshButton" data-toggle="tooltip" data-placement="top" title= "Refresh Data" src = "../../../../../assets/icons/refresh-button.svg" style="height:20px" (click)="ngOnInit()"> -->
  </div>
  <hr style="margin-top:4px;margin-bottom:5px">
  <div class="screenWrapper">
    <div class="leftPane">
      <div class="ShipmentDetails">
        <div class="BoxHeader">
          <div class="row">
            <div class="col-1">
                <img id="boxIcons" src="../../../../../assets/icons/delivery (1).svg" style="height:20px;width:20px" >
            </div>
            <div class="col-10">
              Shipping Details
            </div>
          </div>
        </div>
        <div class="ShippingDetailsBoxContent">
          <div class="idSection">
            <div class="rowHeader">Shipping ID</div>
            <div class="detailSection"># {{this.ShipmentID}} </div>
          </div>
          <div class="PurchaseOrder">
              <div class="rowHeader">Purchase Order</div>
              <div class="detailSection"> {{this.PONumber}}</div>
              <!-- <div class="detailSection"><img src="../../../../../assets/icons/clip.svg" id="detailBoxIcons"> {{this.PONumber}}</div> -->
          </div>
          <div class="Source">
              <div class="rowHeader"> Source</div>
              <div class="SourceDetailSection">
                <div class="location"><img src="../../../../../assets/icons/icons/maps-and-flags.svg" id="detailBoxIcons"> {{this.SourceLoc}}</div>
                <div class="date"> {{ this.CreatedDateTime | date:'medium'}} (UTC)</div>
              </div>
          </div>
          <!-- <div class="CurrentLocation">
              <div class="rowHeader"> Last Known</div>
              <div class="CurrentLocDetailSection">
                  <div class="location"><img src="../../../../../assets/icons/icons/maps-and-flags.svg" id="detailBoxIcons">
                    <div class="LocationHolder"> 178 Laurel Brook Rd, Middlefield, CT 06455'</div></div>
                  <div class="date"> 20/09/2018 10:50</div>
              </div>
          </div> -->
          <div class="Destination">
              <div class="rowHeader"> Destination</div>
              <div class="detailSection"><img src="../../../../../assets/icons/icons/flag.svg" id="detailBoxIcons"> {{this.DestinationLoc}}</div>
          </div>
          <div class="State">
              <div class="rowHeader"> Status</div>
              <div class="detailSection">{{this.ShipmentStatus}}</div>
          </div>

          <div class="lastGPStime">
            <div class="rowHeader">
              Last Known GPS (UTC)
            </div>
            <div class="detailSection">{{this.CurrentGPSTime | date:'medium'}}</div>

          </div>
          
        </div>
      </div>
      <div class="BlockchainTxn">
        <div class="BoxHeader">
          <div class="row">
            <div class="col-1">
              <img id="boxIcons" src="../../../../../assets/icons/shield (1).svg" style="height:20px;width:20px" >
            </div>
            <div class="col-9">
              Blockchain Transactions
            </div>
             <div class="col-1" > <!--data-toggle="tooltip" data-placement="top" title="Click here to view Blockchain Transactions in Detail"  -->
                <!-- <img id="boxIcons" id="bcTxnIcon"  src="../../../../../assets/icons/upload.svg" style="height:20px;width:20px;margin-left:-15px" > data-toggle="modal" data-target="#blockchainModalCenter" -->
            </div>
          </div>
        </div>
        <div class="BoxContent">
<app-blockchain-timeline *ngIf="refreshComponents"></app-blockchain-timeline>

        </div>
      </div>
      <div class="ShippingObjects">
        <div class="BoxHeader">
          <div class="row">
            
            <div class="col-10">
              Shipping Objects
            </div>
          </div>
        </div>
        <div class="ShippingObjectBoxContent">
          <div class="ShipObjectTopSection">
            <div class="palletSection">
              <img id="objectIcon" src="../../../../../assets/icons/icons/pallet (1).svg">
              <span id="objectNumber"> {{this.PalletCount}}</span>
            </div>

            <div class="cartonSection">
              <img id="objectIcon" src="../../../../../assets/icons/icons/box.svg">
              <span id="objectNumber"> {{this.CartonCount}}</span>
            </div>

          </div>

          <div class="ShipObjectBottomSection">

            <div class="boxSection">
              <img id="objectIcon" src="../../../../../assets/icons/icons/empty-box-open.svg">
              <span id="objectNumber"> {{this.BoxCount}}</span>
            </div>

            <div class="productSection">
              <img id="objectIcon" src="../../../../../assets/icons/icons/pills-bottle.svg">
              <span id="objectNumber"> {{this.ProductCount}}</span>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="rightPane">
      <div class="AlertsTab">

        <div class="TamperAlerts">
          <div class="leftSection"><img id="alertIcons" src="../../../../../assets/icons/Tamperbox.svg"></div>
          <div class="rightSection">
            <div class="AlertNumberSection">{{this.TamperBreachCount}}</div>
            <div class="AlertNameSection">Tamper Incidents</div>
          </div>
        </div>

        <div class="TemperatureBreach">
          <div class="leftSection"><img id="alertIcons" src="../../../../../assets/icons/icons/thermometer (5).svg"></div>
          <div class="rightSection">
            <div class="AlertNumberSection">{{this.TemperatureBreachCount}}</div>
            <div class="AlertNameSection">Temperature Breach</div>
          </div>
        </div>

        <div class="HumidityBreach">
          <div class="leftSection"><img id="alertIcons" src="../../../../../assets/icons/icons/humidity (1).svg"></div>
          <div class="rightSection">
            <div class="AlertNumberSection">{{this.HumidityBreachCount}}</div>
            <div class="AlertNameSection">Humidity Breach</div>
          </div>
        </div>

        <div class="ShockAlerts">
          <div class="leftSection">
            <!-- <img id="alertIcons" src="../../../../../assets/icons/icons/vibration (2).svg">
              -->
            <img id="shockIcon" src="../../../../../assets/icons/icons/SHOCK_N_VIBRATION - White.svg">
          </div>
          <div class="rightSection">
            <div class="AlertNumberSection">{{this.ShockVibrationCount}}</div>
            <div class="AlertNameSection"> Shock/Vibrations</div>
          </div>
        </div>

        <div class="UnreachableDevices">
          <div class="leftSection"><img id="alertIcons" src="../../../../../assets/icons/icons/no-wifi.svg"></div>
          <div class="rightSection">
            <div class="AlertNumberSection">{{this.UnreachableDeviceCount}}</div>
            <div class="AlertNameSection">Unreachable Devices</div>
          </div>
        </div>
      </div>
      <div class="WindowTabs">
        <app-window-tabs *ngIf="refreshComponents"></app-window-tabs>
      </div>
    </div>
  </div>

</body>