
.align-1{
  margin-left: 40px;
  background-color:#e2e2e2;
  max-width: 200px;
}
.align-2{
  margin-left: 80px;
  background-color:#e2e2e2;
  max-width: 200px;
}
.align-3{
  margin-left: 120px;
  background-color:#e2e2e2;
  max-width: 200px;
}
.align-4{
  margin-left: 160px;
  background-color:#e2e2e2;
  max-width: 200px;
}
.align-5{
  margin-left: 200px;
}

.batch-design{
background-color:#e2e2e2;
max-width: 200px;
cursor: pointer;
}
.icon-custom{
  color:#5bc0de;
  padding:10px;
  border-right: 2px solid grey;
  font-size: 21px;
  line-height: 0.7;
}
.text-align{
  padding: 10px;
}
p{
  font-weight: bolder;
  font-size: 14px;
}
.remove-item{
  cursor:pointer;
  float:right;
  font-size: large;
  color: red;
}
.button-align{
  background-color:#669900;
  cursor: pointer;
  float: right;
  font-size: 14px;
  color: white;
  width: 75px;
  border-radius: 5px;
  bottom:0;
}
li{
    padding:5px 30px 5px 5px;
    cursor: pointer;
    font-weight: bolder;
  }
  ul{
    background-color: whitesmoke;
    font-size: 12px;
  }
  .active{
    background-color: white;
    border-bottom: white
  }
  .footer-button{
    margin-right: 10px;
    position:absolute;
    right: 0;
  }
  .screen-division{
    height: 60vh;
    border-right:  1px solid #d7dfe6;
  }
  .col-container{
    margin-top: 90px;
  }
/* Writing Media Queries Here */
@media screen and (min-width:1440px){
  .col-container{
    margin-top: 170px;
  }
  .icon-custom{
    font-size: x-large;
  }
  .footer-button{
    padding-bottom: 3px;
    margin-right: 10px;
    position:absolute;
    right: 0;
    margin-top: 5px;
  }
  #head{
    background-color: whitesmoke;
    font-size: 14px;
    height:40px;
  }
  ul{
    background-color: whitesmoke;
    font-size: 14px;
    height: 40px;
  }

}