*{
    font-family: 'Fira Sans', sans-serif;
}

.Banner{
    height:25px;
    width:100vw;
    margin-top:5px
}

#BrandName{
    background: white;
    padding: 10px;
    font-size: 20px;
    color: #00a3cc;
}
.brandTagline{
    padding:0.5em;
    margin-left:10px;
    width:100vw;
    background:#00a3cc;
    color:white;
    font-weight: bolder;
    font-size:14px;

}
.Header{
    font-size: 45px;
    text-align: center;
    font-weight:bolder;
    font-size:18px;
}

.downloadPdf{
    display: block
}

.ShipmentDetails{
    padding:2em;
    font-weight: bold;
    width:100vw;
    border-left:15px solid grey;
    background:whitesmoke
}


.info{
    margin-bottom: 4px;
    color:grey
}

#value{
    font-weight: bolder;
    font-size: 15px;
    color:black
} 
.AlertHeader{
    font-size: 20px;
    font-weight:bolder;
    margin-left:1em
}
thead{
    font-weight: bolder;
    font-size: 12px;
    height:15px;
    text-align: center;
    border-bottom: 2px solid black
}

td{
    font-size:10px;
    max-width:60px;
    text-align: center;


}


#content{
    background:white
}

table{
    margin:1em;
    border: 1px solid black
}

