

*{
    font-family: 'Muli', sans-serif;}
    
.body-container{
    /* background: whitesmoke; */
    height: 100vh
}

#ShipmentListIcons{
    height: 20px;
    width: 20px
}

#ShipmentListIcons:hover{
    cursor:pointer
}
.TabIcon{
    height:40px;
    width:40px;
    margin:10px
}

/* .SummaryTabs{
    display:grid;
    grid-template-columns:30% 70%;
} */
.NestGrid{
    display:grid;
    grid-template-rows:50% 50%;
    grid-row-gap:2px;   
    text-align:center
}
.SummaryTopRow{
    display:grid;
    /* grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;*/
    grid-template-columns:  16.3% 16.3% 16.3% 16.3% 16.3% 17% 1%; 
    grid-column-gap:10px;
    padding:1px;
    margin-left: 1px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    /* height:60px; */
    background:transparent
}

/* .SummaryTabs{
    padding:2px;
    font-weight:bolder;
    font-size:14px
} */

.CurrentShipmentsTab, .UnreachableDevicesTab, .TempBreachTab, .ShockTab, .HumBreachTab, .TamperTab{
    display:grid;
    grid-template-columns:20% 80%;
    padding:2px;
    font-weight:bold;
    font-size:18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* background:blue; */
}

/* Defining CSS Of Each Alert Tab Here */

#AlertNumber{
    font-size:20px;
    padding:5px
}
.CurrentShipmentsTab{
    background: #000066;
    color:white;

}

.UnreachableDevicesTab{
    background: #99cc00;
    /* font-weight:bolder; */
}
.TempBreachTab{
    background:  #2e2e1f;
    color:white
}
.ShockTab{
    background: #d9d9d9
}
.HumBreachTab{
    background: #00a3cc;
    color:white
}
.TamperTab{
    background:  #F1BB62
}

/* Definition of Tab Colors Ends Here */

.ContentWrapper{
    display:grid;
    grid-template-columns: 20% 80%;
    grid-column-gap:1em;
    margin-top:-10px
}

.ShipmentListHeaderWrapper{
    display:grid;
    margin-left: 1px;
    grid-template-columns: 60% 10% 10% 10% 10%;
    height:40px;
}

.ShipmentTrackerHeaderWrapper{
    display:grid;
    grid-template-columns: 92.5% 2.5% 2.5% 2.5%;
    height:40px;
    background:black;
    color:white
}

.ShipmentListIcons,.TrackerIcons:hover{
    cursor:pointer;
}
/* 
.ShipmentListHeader:nth-child(odd){
    background:black;
    font-weight:bold;
    color:white
} */


.ShipmentListHeader, .ShipmentTrackerHeader{
    padding-top:8px;
    padding-left:8px;
    background:black;
    /* font-weight:bold; */
    color:white;
    font-size: 15px;
    font-weight: bold
}

.ShipmentListContent{

    background: white;
    height:76vh;
    margin-top: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

 /* Styling Scrollbar */
 
.ShipmentListContent::-webkit-scrollbar{
    width:8px;
}


.ShipmentListContent::-webkit-scrollbar-track{
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid #ccc;
}


.ShipmentListContent::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #aaaa55;
    border: 1px solid #aaa;
  }

  
.ShipmentListContent::-webkit-scrollbar-thumb:hover{
    background: #9c9c16;
  }

  
.ShipmentListContent::-webkit-scrollbar-thumb:active{
    background: linear-gradient(left, #22ADD4, rgb(186, 170, 30));
  }

  /* Scrollbar Styling Over */
.ShipmentTracker{
    background:white;
    height:81vh;
    width:78vw;
}

.ShipmentList{
    height:100vh;
}


.ShipmentTrackerContent{
    padding:0px;
    margin-top:-22px;
    height:80vh
}
#shockIcon{
    height:60px;width:75px;margin-left:5px;
    margin-top:-10px

  }
  #TamperIcon{
      height:40px;
      margin-left:10px
  }

@media screen and (max-width:1440px){

    .ShipmentListContent{
        height: 66vh 
    }

    .SummaryTopRow{
        display:grid;
        /* grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;*/
        grid-template-columns: 16%  16% 16% 16% 16% 16%;
        grid-column-gap:10px;
        padding:1px;
        margin-left: 1px;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
        /* height:60px; */
        background:transparent
    }
    .CurrentShipmentsTab, .UnreachableDevicesTab, .TempBreachTab, .ShockTab, .HumBreachTab, .TamperTab{
        display:grid;
        grid-template-columns:20% 80%;
        padding:2px;
        font-weight:bold;
        font-size:14px;
        /* background:blue; */
    }
    
    .TabIcon{
        height:35px;width:35px
    }
    
    .ShipmentTracker{
        width:79vw;
        margin-left:-10px
    }
#ShipmentListIcons,#TrackerIcons {
    height: 14px;
    width: 14px;
    margin-top:4px
}

#shockIcon{
    height:45px;width:55px;margin-left:-4px;
    /* margin-top:2px */
  }
.ShipmentListHeader{
font-size:14px;
font-weight:bolder;
/* margin-top:5px */
}
}