<div *ngIf="displayAssGateways">
        <div>
                <ul id="head" class="nav nav-tabs">
                  <li >Map Beacons</li>
                  <li >Associate Hierarchy</li>
                  <li >Associate Objects</li>
                  <li class="active">Assign Gateways</li>
                  <div class="footer-button">
                        <button class="button-align" (click) = "create()">Create</button>
                        <button class="button-align" (click) = "gotoPrevious()"><Previous</button>
                        </div>  
                </ul>
            </div>

    <div class="container" id="container1">
       
       <div class="table-responsive-fluid" style="margin-left: -40px">
        <table class="center">
                <thead>
                    <tr >
                       
                        <th>Pallet</th>
                       
                        <th>Gateway</th>
                        
                        <th>Tracker</th>
                        <th>
                          <a >
                            <img src="../../../../../../assets/icons/add-circular-outlined-button.svg" style="height: 35px; margin-top: 5px;"(click)="addFieldValue()" />
                          </a></th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let field of GatewaysArray; let i = index">
                    <td><img src="../../../../../../assets/icons/icons/pallet (1).svg" style="height: 25px; width: 25px; margin-top: 5px;position: relative;"/> <input type="text"  name="{{field.Pallet}}" [(ngModel)] = "field.Pallet"></td>
                    <td><img src="../../../../../../assets/icons/wifi-router (1).svg" style="height: 25px; width: 25px; margin-top: 5px;"/> <input type="text"  name="{{field.Gateway}}" [(ngModel)] = "field.Gateway"></td>
                    <td><img src="../../../../../../assets/icons/track.svg" style="height: 25px; width: 25px; margin-top: 5px;"/> <input type="text"  name="{{field.Tracker}}"  [(ngModel)] = "field.Tracker"> </td>
                    <td style="margin-top: 100px; color:red">
                        <a >
                            <img src="../../../../../../assets/icons/x-mark (2).svg" (click)="deleteFieldValue(i)"style="height: 25px; width: 25px; margin-top: 5px;" />
                          </a>     
                    
                    </td>

                  </tr>
        
                  <tr>
                      
                      <td>
                          <input class="form-control" type="text" id="newAttributePallet" [(ngModel)]="newAttribute.Pallet" name="newAttributePallet" >
                      </td>
                      <td>
                          <input class="form-control" type="text" id="newAttributeGateway" [(ngModel)]="newAttribute.Gateway" name="newAttributeGateway" />
                      </td>
                      <td>
                        <input class="form-control" type="text" id="newAttributeTracker" [(ngModel)]="newAttribute.Tracker" name="newAttributeTracker" />
                      </td>
                     
                     </tr>
        
                </tbody>
                </table>        
             
            </div>
        </div>  
            
           
            </div>
            <app-association-summary *ngIf="displayAssocSummary"></app-association-summary>            