th{
    font-size: 12px;
    text-align:center
}

td,th{
    width:200px;
    padding:0px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.AckNotesDiv{
    padding: 1em;
    background: whitesmoke;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bolder;
    border: 2px dashed #aaaa55; 
}

td{
    border-right:2px solid white;
    border-bottom:2px solid white;
}

table{
    /* text-align:center; */
    width:90%;
    margin-top:2%;
    margin-left:5%;
    table-layout: fixed;
}

thead, tbody {
    display: block;
}


tbody {
    background:white;
    height: 550px;
    overflow-y: auto;
}

/* 
tbody td, thead th {
    width: 850px;

} */

 /* Styling Scrollbar */
 tbody::-webkit-scrollbar{
    width:8px;
}

tbody::-webkit-scrollbar-track{
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid #ccc;
}

tbody::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(#999966, #aaaa55);
    border: 1px solid #aaa;
  }

  tbody::-webkit-scrollbar-thumb:hover{
    background: #cccc00;
  }

  tbody::-webkit-scrollbar-thumb:active{
    background: linear-gradient(left, #22ADD4, rgb(186, 170, 30));
  }

#TabContent{
    padding:1em;
}

/* .tableHolder{
    height:600px;
    overflow-y:scroll;
    overflow-x:hidden;
} */
tr{
    background:whitesmoke
}
/* Alert Modal */
#alertDetailsHeader,#multipleAlertDetailsHeader,#specificAlertDetailsHeader,
#alertData,#multipleAlertData,#specificAlertData{
    font-weight:bolder;
    font-size:12px;
    margin-left:10px;
    border-radius:5px;
    padding:3px
}

.row{
    margin-bottom:5px
}

#multipleAlertData{
    background: #fff0e6
}

#specificAlertData{
    background: #ffd9cc
}
#alertDetailsHeader,#multipleAlertDetailsHeader,#specificAlertDetailsHeader{
        /* background:#0099cc; */
        margin-left:15px;
        color:white;
        text-align:center
}
    
#alertDetailsHeader{
    background:#0099cc;
}

#multipleAlertDetailsHeader{
    background:#e65c00
}

#specificAlertDetailsHeader{
    background:#cc3300
}

#alertData{
        background:white;
        /* margin-left:-5px */
    }

    .row:hover{
        background:#95b9f0;
        opacity:0.8;
        border-radius:8px;
        padding:5px
    }
.blockchainTxnDetails{
    height:100%;
    background:#e0ebeb;
    margin-top:5px;
    border-radius:8px;
    padding:12px;
}


/* Alert Modal Ends */
td{
    text-align:center;
    font-size:12px;
    font-weight:bolder;

}
#viewAlertIcon,#viewAcks{
    height:15px;
}

#viewAlertIcon:hover, #viewAcks:hover{
    cursor:pointer
}

.modal-title{
    font-size:18px;
    font-weight:bolder
}
.modal-header{
    padding:5px;
    padding-right:1em   
}

.ackButton{
    background: #00cc00;
    color:white;
    font-weight:bolder;
    padding: 2px;
    border-radius: 30px;
    margin-left: 35px;
    margin-right: 35px;
   
    }
    .ackButton:hover{
        cursor:pointer
    }
/* 
.isConnected{
width:100px !important
} */
@media screen and (max-width:1440px){

    .noData{
        font-weight:bolder
    }
    table{
        /* width:900px; */
        font-size:10px
    }
    th{
        font-size: 12px;
    }
    td{
        font-size:10px
    }
    td,th{
        width:200px;
        padding:0px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    tbody {
        height: 425px;
        overflow-y: scroll;
    }

    #Action{
        margin-left: 10px !important

    }
td,th{
    /* width:180px !important; */
    text-align:center
}

#connectivityIcon{
    height:35px;
    width:50px;
    margin-top:-10px;
    margin-bottom:-10px
}

.ackButton{
    margin-left: 14px;
    margin-right: 14px;

}
}
