<div class="ViewDocContainer">
  <div class="Header">Documents</div>
  <div class="container-fluid" id="TabContent">
    <table *ngIf="displayTable" class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th id="View">
          </th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Timestamp</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor=' let doc of docHistory;let i of index'>
          <td id="View"> <a [href]='doc.docRef'><img id="viewICon" src="../../../../../assets/icons/visible-opened-eye-interface-option (1).svg">
            </a></td>
          <td>{{doc.docName}}</td>
          <td>{{doc.docType}}</td>
          <td>{{doc.blockTimestamp*1000 | date:'medium':'Z'}}</td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="displayLoader" class="Loader">
      <img id="Loader" src='../../../../../assets/icons/GIF/Cube-1s-200px.svg'>
      <span id="LoadingData"> Fetching Documents.....</span>
    </div>
  </div>
</div>