body{
   
    padding:1em;
    margin:0px;
    box-sizing: border-box;
    height:90vh;
    background:white;
      
}
#table-container{
    height: 900px;
    overflow-y: scroll;
}
#table{
    max-height: 700px;
    overflow-y: scroll; 
}
.form-control{
    display: none;
    width: none;
}

#sn{
    -webkit-text-fill-color: green;
}
div.clear_both {
    margin: 0;
    padding: 0;
    font-size: 0;
    height: 0;
    line-height: 0;
    clear: both;
}
table{
    
    margin: 10px;
    border:1;
    width:70%;
    margin-left: 100px;
    margin-left: 220px;
   }
   
   #addButton{
    background: #e6e6e6;
    border-radius: 30px;
    margin-bottom: 12px;
   }
   
   #addButton:hover{
       cursor:pointer;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   }
.addButton{
    margin-left: 40px;
    margin-top: -40px;
    font-weight: bold;
}
img{
    
     padding: 5px;
     width: 30px;
     height: 30px;
     
  }

th{
    font-size:11px;
    text-align:center;
    font-weight:bold;
    background-color: #2799CF;
    color:white;
    width:60px !important;
    
}
h3{
    color:#2799CF;
}
tr{
    width:90%;
    background: #f2f2f2;
    padding: 10px;
}
td{
    font-size:14px;
    font-weight: bold;
    /* background: white; */
    width:100px;
    padding:10px;
    text-align: center

}
input[type=text] {
    padding: 10;
    height: 30px;
    position: inherit;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 20px;
  }

tbody{
    background: #f2f2f2
}

td:nth-child(6) {
    -webkit-text-fill-color: rgb(28, 209, 28);
   
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-1"] {
        flex: 0 0 12.3333%;
    }
}
