/* body{
    background: #f1f1ff;
    height:100vh
} */
.OverviewSection{
    position: relative;
 
    background:#1aa3ff;
    width:368px;
    height:125px;
    display:grid;
    grid-template-columns: 65% 35%;
    /* grid-column-gap: 2px; */

}

/* Incidents Icon and Value Box */
.rightBottomSection{

    display:grid;
    grid-template-rows:50% 50%;

}

.IncidentTopBoxes{
  
    display:grid;
    grid-template-columns:50% 50%;
    margin-bottom:10px
    
}

.IncidentBottomBoxes{
 
    display:grid;
    grid-template-columns:50% 50%;
 
}


.TemperatureAlertBox, .HumidityAlertBox, .ShockAlertBox,.TamperAlertBox{
    /* background:white; */
    padding:1px;
    display:grid;
    grid-template-columns: 50% 50%
}
.AlertNumber{
    font-size:12px;
    font-weight:bolder;
    margin-top: 10px;
    margin-left: 3px;
    color:white
}

#AlertIcon{
margin-top:5px
}
/* Incidents Icons and Value Ends Here */
.leftSection{
    display:grid;
    grid-template-rows: 40% 60%;
    grid-row-gap: 2px;
    border-right:2px solid white
}
.rightSection{
    /* background:orange; */
    grid-template-rows:20% 80%
}

.leftTopSection{
padding:5px;
display:grid;
grid-template-columns: 50% 50%;
border-bottom: 2px solid white

}

.statusSection, .po_Section{
    display:grid;
    grid-template-rows: 40% 60%;
    grid-row-gap: 2px;
    color:white;
    font-weight:bolder;
    text-align:center
}

.StatusLabel{
    background:#edc836;
    border-radius: 55px;
    height: 17px;
    width:90px;
    margin-left:10px;
    font-size:12px;
    text-align:center;
    color:black
}

.leftBottomSection{
    display:grid;
    grid-template-columns: 10% 90%;

}

.SourceDestinationIconSection{
    /* background:orange; */
    display:grid;
    grid-template-rows:33% 33% 33%;
    margin-left:5px;
    /* margin-top:-5px */
}
.statusSection{
    border-right:2px solid white
}

/* Source Destination Details Section */
.SourceDestinationDetailsSection{
    display:grid;
    grid-template-rows:60% 40%;

}

.sourceDetails{
    /* background:orange */
    display:grid;
    grid-template-rows:60% 40%;
    margin-left:5px
}

.sourceData{
    /* background:white; */
    color:#ccd9ff;
    font-weight: bold;
    font-size: 16px
}
.SourceTime{
    /* background:whitesmoke; */
    color:white;
    font-size:12px;
    font-weight: bold;
    margin-top:-5px
}
.destinationdetails{
    margin-left:5px;
    color:#ccd9ff;
    font-size:16px;
    font-weight:bold
}
.po_BottomSection{
  
    font-size:14px;
    
}
.statusTopSection,.po_TopSection{
    text-align: center;
    font-size:12px
}

#icons{
    height:23px;
    width:30px;
    margin-left:-10px
}
/* .leftBottomSection{
     background:red; 
    } */

    .rightTopSection{
        text-align:center;
        font-weight:bolder;
        padding:2px;
        color:white;
        border-bottom:2px solid white
    }

    #circle{
        height:20px;width:25px
    }
    #dash{
        height:20px;width:25px;margin-top:-5px
    }
    #pin{
        height:25px;width:25px;margin-top:-10px
    }

    #TamperIcon{
        /* margin-left:2px; */
        height:25px;
        margin-top:6px
    }


    @media screen and (max-width:1440px){

        #TamperIcon{
            /* margin-left:2px; */
            height:18px;
            margin-top:6px
        }

        .OverviewSection{
            position: relative;
         
            background:#1aa3ff;
            width:258px;
            height:100px;
            display:grid;
            grid-template-columns: 65% 35%;
            /* grid-column-gap: 2px; */
        
        }
        .leftSection{
            display:grid;
            grid-template-rows: 40% 60%;
            grid-row-gap: 2px;
            border-right:2px solid white
        }
        .rightSection{
            /* background:orange; */
            grid-template-rows:20% 80%
        }
        
        .leftTopSection{
        padding:2px;
        display:grid;
        grid-template-columns: 50% 50%;
        border-bottom: 2px solid white
        
        }
        
        .statusSection, .po_Section{
            display:grid;
            grid-template-rows: 40% 60%;
            grid-row-gap: 2px;
            color:white;
            font-weight:bolder;
            text-align:center
        }
        
        .StatusLabel{
            background:#edc836;
            border-radius: 55px;
            height: 15px;
            width:65px;
            margin-left:10px;
            font-size:10px;
            text-align:center;
            color:black
        }
        
        .leftBottomSection{
            display:grid;
            grid-template-columns: 10% 90%;
        
        }
        
        .SourceDestinationIconSection{
            /* background:orange; */
            display:grid;
            grid-template-rows:33% 33% 33%;
            margin-left:5px;
            /* margin-top:-5px */
        }
        .statusSection{
            border-right:2px solid white
        }
        
        /* Source Destination Details Section */
        .SourceDestinationDetailsSection{
            display:grid;
            grid-template-rows:60% 40%;
        
        }
        
        .sourceDetails{
            /* background:orange */
            display:grid;
            grid-template-rows:60% 40%;
            margin-left:15px
        }
        
        .sourceData{
            /* background:white; */
            color:#ccd9ff;
            font-weight: bold;
            font-size: 11px
        }
        .SourceTime{
            /* background:whitesmoke; */
            color:white;
            font-size:10px;
            font-weight: bold;
            margin-top:-10px
        }
        .destinationdetails{
            margin-left:5px;
            color:#ccd9ff;
            font-size:11px;
            font-weight:bold;
            margin-top:-5px;
            margin-left:15px
        }
        .po_BottomSection{
          
            font-size:11px;
            
        }
        .statusTopSection,.po_TopSection{
            text-align: center;
            font-size:10px
        }
        
        #icons{
            height:18px;
            width:25px;
            margin-left:-10px
        }
        /* .leftBottomSection{
             background:red; 
            } */
        
            .rightTopSection{
                text-align:center;
                font-weight:bolder;
                padding:2px;
                color:white;
                border-bottom:2px solid white;
                font-size:12px
            }
            
    #circle{
        height:15px;
        width:18px;
        margin-left:5px;
        margin-top:-5px
    }

    #dash{
        height:20px;
        width:25px;
        margin-left:2px;
        margin-top:-18px
    }
    #pin{
        height:15px;
        width:15px;
        margin-top:-28px;
        margin-left: 6px
    }

    .AlertNumber{
        font-size:10px;
       
    }
    
    }