<div>
        <ul id="head" class="nav nav-tabs">
          <li >Map Beacons</li>
          <li >Associate Hierarchy</li>
          <li class="active">Associate Objects</li>
          <li>Assign Gateways</li>
        </ul>
    </div>
<app-box-product *ngIf = 'BoxId === 0' [childMessage] = "childMessage"></app-box-product>
<app-carton-box *ngIf = 'CartonId === 0' [childMessage] = "childMessage"></app-carton-box>
<app-pallet-carton *ngIf = 'palletId === 0' [childMessage] = "childMessage"></app-pallet-carton>