
.button-align{
    background-color:#669900;
    cursor: pointer;
    float: right;
    font-size: 14px;
    color: white;
    width: 75px;
    border-radius: 5px;
    bottom:0;
  }
  .icon-custom{
    float: right;
    width: 25px;
    cursor: pointer;
  }
  .active{
    background-color: white;
    border-bottom: 1px solid green;
  }
  li{
    padding:5px 20px 5px 5px;
    cursor: pointer;
    font-weight: bolder;
    list-style: none;
  }
  ul{
    background-color: #f0f9ff;
  }
  .column-style{
    height: 63vh;
    overflow-y: scroll
  }
  .heading{
    height: 30px;
    font-size: 20px;
  }
  .icon-Summary{
    width:52px;
    padding: 10px;
  }
  .container-summary{
    height: 70vh;
    border:1px solid #dadada;
  }
  .col-summary{
    padding: 10px;
  }
  #Summary{
    color:#669900;
  }
  @media screen and (min-width:1440px){
    .icon-custom{
      font-size: 25px;
    }
    .column-style{
      height: 65vh;
      border: 1px solid #ececec;
    }
    .container-summary{
      height: 50vh;
      border:1px solid #dadada;
    }
  }
  #box{
    padding:5px 20px 5px 5px;
    cursor: pointer;
    list-style: none;
    color:#669900;
    border: 1px solid aliceblue;
    width:50%;
    }
  
  ul{
    background-color: #ffffff;
  }
  .Product{
    content: url('src/assets/icons/pills-bottle.svg');
    width:20px;
    margin-right: 5px;
  }
  .Box{
    content: url('src/assets/icons/empty-blackbox-open.svg');
    width:20px;
    margin-right: 5px;
  }
  .Boxes{
    content: url('src/assets/icons/empty-blackbox-open.svg');
    width:20px;
    margin-right: 5px;
  }
  .Pallet{
    content: url('src/assets/icons/pallet-black.svg');
    width:20px;
    margin-right: 5px;
  }
  .Carton{
    content: url('src/assets/icons/black-box.svg');
    width:20px;
    margin-right: 5px;
  }
  ::-webkit-scrollbar-track {
    background: whitesmoke;
    }
    ::-webkit-scrollbar{
    width:3px;
    }
    /* Handle */
    :-webkit-scrollbar-thumb {
    background: yellow;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover { 
    background: yellow;
    }