.screenWrapper{
    display:grid;
    grid-template-columns:15% 85%;
    grid-column-gap: 1em;
    margin-left:10px
}

#refreshButton{
    margin-left: 90vw;
    margin-top: -55px;
}
#refreshButton:hover{
    cursor:pointer
}
.leftPane{
    display:grid;
    grid-template-rows: 27% 49% 24%;
    grid-row-gap: 12px;
    height:85vh;
   
}

.ShipmentDetails{
    display:grid;
    grid-template-rows: 12% 88%;
    background:white;
    border:1px solid #bfbfbf
}

.LocationHolder{
    /* background:red; */
    float:right;
    margin-left:15px;
    margin-top:-15px
}
.ShippingObjects{
    display:grid;
    grid-template-rows: 14% 86%;
    background:white;
    border:1px solid #bfbfbf
}
.BlockchainTxn{
    display:grid;
    grid-template-rows:8% 92%;
    background:white;
    border:1px solid #bfbfbf
}

/* Shipping Details Box CSS */

.ShippingDetailsBoxContent{
    display:grid;
    grid-template-rows: 15% 15% 20% 20% 15%;
}

.idSection, .PurchaseOrder, .Source, .CurrentLocation, .Destination, .State, .lastGPStime{
    display:grid;
    grid-template-columns: 40% 60%;
    margin-top:5px;
    margin-left:5px
    }
.detailSection{
    font-weight:bolder;
    font-size:12px
}
    #detailBoxIcons{
        height:12px;
        width:12px
    }
    .rowHeader{
        font-size:12px;
        font-weight:bolder;
        color:#00b3b3
    }
    .location{
        font-size:10px;
        font-weight:bold
    }
    .date{
        font-size:10px;
        /* margin-top:-13px; */
        margin-left:13px;
        
    }
/* --------------------------------------------------------------- */
/* Shipping Object Box CSS */
.ShippingObjectBoxContent{
    display:grid;
    grid-template-rows:50% 50%;
    grid-row-gap: 2px;
}
.ShipObjectTopSection,.ShipObjectBottomSection{
    display:grid;
    grid-template-columns:50% 50%;
    grid-column-gap: 4px;
    /* background:grey; */
}
#objectIcon{
    height:50px;
    width:50px;
    margin-top:15px;
    margin-left:10px;

}
#objectNumber{
    /* margin-top:20px !important; */
    font-size:20px;
    margin-left:5px;
    font-weight:bolder;
    vertical-align: middle;
    text-shadow: 1px 1px 1px #000
}
/* ---------------------------- */


.BoxHeader{
    background:black;
    color:white;
    font-size:15px;
    padding:3px;
    font-weight:bolder;
    vertical-align: middle
}

.rightPane{
    display:grid;
    grid-template-rows:10% 90%;
    grid-row-gap: 2px;
    height:88vh;
    background:white;
    width:80vw;
}

.AlertsTab{
    display:grid;
    grid-template-columns: 19.5% 19.5% 19.5% 19.5% 19.5%;
    grid-column-gap: 0.5em;
    height:60px;
    background:white;
    width:100%
}

/* .AlertsTab:nth-child(odd){
    background:black;
} */

.TamperAlerts, .TemperatureBreach, .HumidityBreach, .ShockAlerts, .UnreachableDevices{
    display:grid;
    grid-template-columns: 10% 90%;
}
.TamperAlerts{
  
    background:#99cc00;
}

.AlertNumberSection{
    text-align:center;
    font-weight:bolder;
    font-size:25px;
   
}

.AlertNameSection{
    font-weight:bold;
    text-align:center;
    margin-top: -5px;
}

#alertIcons{
    margin-top:15px;
    margin-left:15px;
    height:40px;
    width:40px
}
.rightSection{
    display:grid;
    grid-template-rows:65% 35%;

}

.TemperatureBreach{
    background:#262626;
    color:white
}

.HumidityBreach{
  
    background:#F1BB62;
}

.ShockAlerts{
    background:#262626;
    color:white;
}

.UnreachableDevices{
    
    background:#99cc00
}
.WindowTabs{
    /* height: 55px; */
    background:white;
}

#shockIcon{
  height:60px;width:75px;margin-left:5px
}
#bcTxnIcon:hover{
    cursor:pointer
}
.rowHeader{
    font-size:11px;
    font-weight:bolder;
    color:#00b3b3
}

.lastGPStime{
    display:grid;
    grid-template-columns: 45% 55%;
    margin-top:5px;
    margin-left:5px
    }

/* -----------------------------------------------------CSS FOR LAPTOP 14" SCREEN  -----------------------------------------*/

@media screen and (max-width:1440px){
  
    .idSection, .PurchaseOrder, .Source, .CurrentLocation, .Destination, .State, .lastGPStime{
        display:grid;
        grid-template-columns: 40% 60%;
        margin-top:5px;
        margin-left:5px
        }

    .AlertsTab{
        display:grid;
        grid-template-columns: 18.5% 18.5%  18.5%  18.5%  19%;
        grid-column-gap: 0.5em;
        height:50px;
        background:white;
        width:100%
    }
    .screenWrapper{
        display:grid;
        grid-template-columns:20% 80%;
        grid-column-gap: 1em;
        margin-left:10px
    }

    .leftPane{
        display:grid;
        grid-template-rows: 30% 45% 25%;
        grid-row-gap: 4px;
        height:95vh;
       
    }
    .state{
        margin-bottom:-10px
    }
.ShipmentDetails{
    display:grid;
    grid-template-rows: 15% 85%;
    background:white;
    border:1px solid #bfbfbf
}

.BlockchainTxn{
    display:grid;
    grid-template-rows: 12% 88%
}
.ShippingObjects{
    display:grid;
    grid-template-rows:18% 82%;
    background:white;
    border:1px solid #bfbfbf
}


.rightPane{
    margin-left: 10px;
    height:95vh
}


.AlertNumberSection{
    text-align:center;
    font-weight:bolder;
    font-size:25px
}

.AlertNameSection{
    font-weight:bold;
    text-align:center;
    font-size:12px
}

#alertIcons{
    margin-top:15px;
    margin-left:15px;
    height:30px;
    width:30px
}

#objectIcon{
    height:40px;
    width:40px;
    margin-top:15px;
    margin-left:10px
}
/* Shipping Details Box CSS For Laptop Screen HEre */
.idSection, .PurchaseOrder, .Source, .CurrentLocation, .Destination, .State{
    display:grid;
    grid-template-columns: 40% 60%;
    margin-top:5px;
    margin-left:5px
    }

    .rowHeader{
        font-size:10px;
        font-weight:bolder;
        color:#00b3b3
    }

    .SourceDetailSection, .CurrentLocDetailSection{
        display:grid;
        grid-template-rows:85% 15%
    }

    .location{
        font-size:10px;
        font-weight:bold
    }
    .date{
        font-size:10px;
        margin-top:-9px;
        margin-left:13px;

    }
/* ------------------------------------- */


#shockIcon{
    height:45px;width:55px;margin-left:4px;
    margin-top:6px
  }
  .LocationHolder{
    margin-left:15px;
    margin-top:-20px;
    
}
}