body{
    width:100vw;
    height:100vh;
    background:white;
}
.nav > .active{
    font-weight:bolder;
    color:#00b8e6;
    border-bottom:2px solid #00b8e6;
    text-shadow: none
}

.nav-item{
    color:black;
    font-weight:bold;
    
}
.tab-content{
 
    height:79vh;
    /* background:red; */
}