<div class="container-fluid" id="TabContent">


    <!-- Modal -->
    <div class="modal fade" id="viewAlertModalCenter2" tabindex="-1" role="dialog" aria-labelledby="viewAlertModalCenter2Title"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewAlertModalCenter2Title">View Alert Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="blockchainTxnDetails">
                        <div class="row">
                            <div class="col-4" id="alertDetailsHeader">Beacon ID</div>
                            <div class="col-7" id="alertData">{{this.modalBeaconID}}</div>
                        </div>

                        <div class="row">
                            <div class="col-4" id="alertDetailsHeader">Object ID</div>
                            <div class="col-7" id="alertData">{{this.modalObjectID}}</div>
                        </div>

                        <div class="row">
                            <div class="col-4" id="alertDetailsHeader">Object Type</div>
                            <div class="col-7" id="alertData">{{this.modalObjectType }}</div>
                        </div>

                        <div class="row">
                            <div class="col-4" id="alertDetailsHeader">Content</div>
                            <div class="col-7" id="alertData">{{this.modalContent}}</div>
                        </div>



                        <!-- Specific Alerts Start Here ====>RED -->
                        <!-- ShockVibration -->
                        <div *ngIf="this.modalAlertType == 'ShockAndVibration'" class="row">
                            <div class="col-4" id="specificAlertDetailsHeader">Shock and Vibration</div>
                            <div class="col-7" id="specificAlertData">{{this.modalShockVibration}}</div>
                        </div>

                        <!-- Tamper Alert -->
                        <div *ngIf="this.modalAlertType == 'Tamper'" class="row">
                            <div class="col-4" id="specificAlertDetailsHeader">Tamper Alert</div>
                            <div class="col-7" id="specificAlertData">{{this.modalTamper}}</div>
                        </div>

                        <!-- Humidity Alert -->
                        <div *ngIf="this.modalAlertType == 'Humidity'" class="row">
                            <div class="col-4" id="specificAlertDetailsHeader">Humidity</div>
                            <div class="col-7" id="specificAlertData">{{this.modalHum}}</div>
                        </div>

                        <!-- Temperature Alert -->
                        <div *ngIf="this.modalAlertType == 'Temperature'" class="row">
                            <div class="col-4" id="specificAlertDetailsHeader">Temperature</div>
                            <div class="col-7" id="specificAlertData">{{this.modalTemp}}</div>
                        </div>
                        <!-- Specific Alert Ends Here -->

                        <!-- Multiple Alert Start Here ===> ORANGE -->
                        <div *ngIf="this.modalAlertType == 'Multiple'" class="container-fluid" style="padding:0px;margin:0px">
                            <div class="row">
                                <div class="col-4" id="multipleAlertDetailsHeader">Temperature</div>
                                <div class="col-7" id="multipleAlertData">{{this.modalTemp}}</div>
                            </div>


                            <div class="row">
                                <div class="col-4" id="multipleAlertDetailsHeader">Humidity</div>
                                <div class="col-7" id="multipleAlertData">{{this.modalHum}}</div>
                            </div>

                            <!-- *ngIf="this.modalTamper" -->
                            <div class="row">
                                <div class="col-4" id="multipleAlertDetailsHeader">Tamper Alert</div>
                                <div class="col-7" id="multipleAlertData">{{this.modalTamper}}</div>
                            </div>

                            <!-- *ngIf="this.modalShockVibration" -->
                            <div class="row">
                                <div class="col-4" id="multipleAlertDetailsHeader">Shock and Vibration</div>
                                <div class="col-7" id="multipleAlertData">{{this.modalShockVibration}}</div>
                            </div>
                        </div>
                        <!-- Multiple Alerts Ends Here -->

                        <div class="row">
                            <div class="col-4" id="alertDetailsHeader">Alert Start Time (UTC) </div>
                            <div class="col-7" id="alertData">{{this.modalAlertStartTime | date: 'medium'}}</div>

                        </div>

                        <div class="row">
                            <div class="col-4" id="alertDetailsHeader">Alert End Time (UTC)</div>
                            <div *ngIf=" this.modalAlertEndTime != '0001-01-01T00:00:00'" class="col-7" id="alertData">{{this.modalAlertEndTime
                                | date: 'medium'}}</div>
                            <div *ngIf=" this.modalAlertEndTime == '0001-01-01T00:00:00'" class="col-7" id="alertData">-</div>
                        </div>

                        <div class="row">
                            <div class="col-4" id="alertDetailsHeader">Alert Duration (in Hours) </div>
                            <div class="col-7" id="alertData">{{this.modalAlertDuration | number}}</div>

                        </div>
                        <!-- Max Temp Breach -->

                        <div *ngIf="maxTempBreach && this.modalAlertType != 'Multiple'" class="container-fluid" style="padding:0px;margin:0px">

                            <div class="row">
                                <div class="col-4" id="specificAlertDetailsHeader"> Max Temperature Limit</div>
                                <div class="col-7" id="specificAlertData">{{this.modalMaxTemp}}</div>
                            </div>

                            <div class="row">
                                <div class="col-4" id="alertDetailsHeader">Min Temperature Limit</div>
                                <div class="col-7" id="alertData">{{this.modalMinTemp}}</div>
                            </div>

                            <div class="row">
                                <div class="col-4" id="alertDetailsHeader">Max Humidity Limit</div>
                                <div class="col-7" id="alertData">{{ this.modalMaxHum}} %</div>
                            </div>

                            <div class="row">
                                <div class="col-4" id="alertDetailsHeader">Min Humidity Limit</div>
                                <div class="col-7" id="alertData">{{ this.modalMinHum}} %</div>
                            </div>
                        </div>

                        <!-- Min Temp Breach -->
                        <div *ngIf="minTempBreach && this.modalAlertType != 'Multiple'" class="container-fluid" style="padding:0px;margin:0px">
                            <div class="row">
                                <div class="col-4" id="alertDetailsHeader"> Max Temperature Limit</div>
                                <div class="col-7" id="alertData">{{this.modalMaxTemp}}</div>
                            </div>

                            <div class="row">
                                <div class="col-4" id="specificAlertDetailsHeader">Min Temperature Limit</div>
                                <div class="col-7" id="specificAlertData">{{this.modalMinTemp}}</div>
                            </div>

                            <div class="row">
                                <div class="col-4" id="alertDetailsHeader">Max Humidity Limit</div>
                                <div class="col-7" id="alertData">{{ this.modalMaxHum}} %</div>
                            </div>

                            <div class="row">
                                <div class="col-4" id="alertDetailsHeader">Min Humidity Limit</div>
                                <div class="col-7" id="alertData">{{ this.modalMinHum}} %</div>
                            </div>
                        </div>

                        <!-- Max Hum Breach -->
                        <div *ngIf="maxHumBreach && this.modalAlertType != 'Multiple'" class="container-fluid" style="padding:0px;margin:0px">

                            <div class="row">
                                <div class="col-4" id="alertDetailsHeader"> Max Temperature Limit</div>
                                <div class="col-7" id="alertData">{{this.modalMaxTemp}}</div>
                            </div>

                            <div class="row">
                                <div class="col-4" id="alertDetailsHeader">Min Temperature Limit</div>
                                <div class="col-7" id="alertData">{{this.modalMinTemp}}</div>
                            </div>

                            <div class="row">
                                <div class="col-4" id="specificAlertDetailsHeader">Max Humidity Limit</div>
                                <div class="col-7" id="specificAlertData">{{ this.modalMaxHum}} %</div>
                            </div>

                            <div class="row">
                                <div class="col-4" id="alertDetailsHeader">Min Humidity Limit</div>
                                <div class="col-7" id="alertData">{{ this.modalMinHum}} %</div>
                            </div>
                        </div>

                        <!-- Min Hum Breach -->
                        <div *ngIf="minHumBreach && this.modalAlertType != 'Multiple'" class="container-fluid" style="padding:0px;margin:0px">

                            <div class="row">
                                <div class="col-4" id="alertDetailsHeader"> Max Temperature Limit</div>
                                <div class="col-7" id="alertData">{{this.modalMaxTemp}}</div>
                            </div>

                            <div class="row">
                                <div class="col-4" id="alertDetailsHeader">Min Temperature Limit</div>
                                <div class="col-7" id="alertData">{{this.modalMinTemp}}</div>
                            </div>

                            <div class="row">
                                <div class="col-4" id="alertDetailsHeader">Max Humidity Limit</div>
                                <div class="col-7" id="alertData">{{ this.modalMaxHum}} %</div>
                            </div>

                            <div class="row">
                                <div class="col-4" id="specificAlertDetailsHeader">Min Humidity Limit</div>
                                <div class="col-7" id="specificAlertData">{{ this.modalMinHum}} %</div>
                            </div>
                        </div>

                        <!-- Multiple Alert Type -->
                         <div *ngIf="this.modalAlertType == 'Multiple'" class="container-fluid" style="padding:0px;margin:0px">

                            <div class="row">
                                <div class="col-4" id="alertDetailsHeader"> Max Temperature Limit</div>
                                <div class="col-7" id="alertData">{{this.modalMaxTemp}}</div>
                            </div>

                            <div class="row">
                                <div class="col-4" id="alertDetailsHeader">Min Temperature Limit</div>
                                <div class="col-7" id="alertData">{{this.modalMinTemp}}</div>
                            </div>

                            <div class="row">
                                <div class="col-4" id="alertDetailsHeader">Max Humidity Limit</div>
                                <div class="col-7" id="alertData">{{ this.modalMaxHum}} %</div>
                            </div>

                            <div class="row">
                                <div class="col-4" id="alertDetailsHeader">Min Humidity Limit</div>
                                <div class="col-7" id="alertData">{{ this.modalMinHum}} %</div>
                            </div>
                        </div>
                       <!-- Ends Here -->

                        <div class="row">
                            <div class="col-4" id="alertDetailsHeader">Status</div>
                            <div class="col-7" id="alertData">{{ this.modalStatus}}</div>
                        </div>


                        <div class="row">
                            <div class="col-4" id="alertDetailsHeader">Alert Location</div>
                            <div *ngIf="this.modalAlertLocation !='null' " class="col-7" id="alertData">{{
                                this.modalAlertLocation}}</div>
                            <div *ngIf="this.modalAlertLocation == 'null'  " class="col-7" id="alertData">Not Available</div>
                        </div>
                    </div>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

 
    <table  *ngIf="showTable" class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> Object ID</th>
                <th scope="col" style="margin-left:-10px">Object Type</th> 
                <th scope="col">Beacon ID</th>
                <th scope="col">Content</th>
                <th scope="col">Alert Type</th>
                <th scope="col">Alert Start Time</th>
                <th scope="col">Alert End Time</th>
                <th scope="col">Alert Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let incident of incidentsList">

                <td>{{incident.ObjectId }}</td>
                <td>{{incident.ObjectType }}</td>
                <td>{{incident.BeaconID }}</td>
                <td>{{incident.Content }}</td>
                <td>{{incident.AlertType }}</td>
                <td> {{incident.AlertStarttime | date: 'medium'}}</td> 
                <td> {{incident.AlertEndtime | date: 'medium'}}</td> 
                <td> 
                    <span *ngIf="incident.Alert_months != 0">{{incident.Alert_months | number :'1.0-0'}}M </span> <span *ngIf="incident.Alert_Days != 0">{{incident.Alert_Days | number :'1.0-0'}}D </span> <span *ngIf="incident.Alert_hours != 0">{{incident.Alert_hours | number :'1.0-0'}}H </span> <span *ngIf="incident.Alert_mins != 0"> {{incident.Alert_mins | number :'1.0-0'}}m</span> <span *ngIf="incident.Alert_secs != 0"> {{incident.Alert_secs | number :'1.0-0'}}s</span>

                </td> 
            </tr>

        </tbody>
    </table>

    <div *ngIf="showNoData" class="noData">
        Stored Records Currently Unavailable
    </div>


</div>